[2019-07-16 11:45] #738 closed

[2019-07-16 13:53] jsp123 commented on #738
l

On Tue, Jun 25, 2019, 9:13 AM shkediy <notifications@github.com> wrote:

[2019-07-16 18:41] jeffreylovitz opened #761 "Mismatched free/delete in redisearch_api.c"
`src/redisearch_api.c:358` uses `calloc` to allocate an iterator, which is freed on line 453 with `rm_free`.

[2019-07-16 18:48] #761 closed

[2019-07-16 18:49] jeffreylovitz opened #763 "Redis `flushall` command causes invalid key access on secondary index freeing"
This issue manifests when using the static RediSearch library for secondary indexing in RedisGraph (`redisearch_indexing` branch).

In RedisGraph, this can be reproduced with the steps:
[code]

Causing the Valgrind trace:
[code]

`IndexSpec_FreeSync` seems like a code path that should be inaccessible when using RediSearch as a linked dependency; the trace here suggests that it is trying to delete

[2019-07-16 19:11] jeffreylovitz commented on #763
Using the `misc-fixes` branch, secondary index creation fails:
[code]
[code]

[2019-07-16 20:01] jeffreylovitz commented on #763
Resolved on `misc-fixes`, thank you!

[2019-07-16 20:01] #763 closed

[2019-07-17 01:44] hzdx200 commented on #737
@MeirShpilraien , Any comments? thanks a lot.

[2019-07-17 05:50] mnunberg commented on #737
You're running the JVM, in which case 10k iterations is not nearly enough to determine performance. I am able to get the same amount of documents in 2.6 seconds using Python:

[code]

[2019-07-17 05:57] mnunberg commented on #737
Furthermore, monitoring the server's CPU consumption, I see only 75% being utilized; the other 25% being utilized at the client level. This may be the formatting of all the commands; but is still something to take into consideration. A more accurate test would pre-format all the documents, and only then submit them to the server (or, subtract formatting time from benchmarking time).

[2019-07-17 13:23] K-Jo opened #764 "Schema Based indexing"

[2019-07-17 13:25] K-Jo opened #765 "Multi Reader/Single writer"

[2019-07-17 13:26] K-Jo opened #766 "[Internal ]Register for state machines events"

[2019-07-17 13:29] K-Jo opened #767 "A-A Search"

[2019-07-17 14:09] mnunberg opened #768 "Allow FT.ADD without score"
Most of the time, users don't care about writing the score.

[2019-07-17 15:12] bpress opened #769 "Redis crash in redisearch.so"
Redis 5.0.3, redisearch 1.6.0
running on a test VM (Debian 9 x64, 2 GB RAM, 2x2Ghz vCPU)

created 1M documents with 3 TAG and 1 NUMERIC field index,
then deleted 600k documents with DD option in FT.DEL command.

After deletion, one cpu was stuck at 60% (all by redis-server process) even after 4 hours of sitting idle.

I rebooted the server and redis keeps crashing on startup.
I had to delete the d

[2019-07-17 15:14] mnunberg commented on #769
What version are you using?

[2019-07-17 18:38] bpress commented on #769
git show says:

commit 1c3932264221330bc6d0c1e2b2be697b042c529b
Merge: 8de82354 1830f58b
Author: Mark Nunberg <mnunberg@users.noreply.github.com>
Date:   Thu Jul 11 08:25:49 2019 -0400

    Merge pull request #754 from RediSearch/graph-integration-fixes

    Graph integration fixes

[2019-07-17 19:26] bpress commented on #769
Recompiled a few minutes ago the very last commit I could pull from github:

[code]

Ran again the same test (creation of 1M docs, deletion of 600k, 400k docs left), now with 4GB RAM since in the last run memory usage reached 97% and I wanted to avoid any swap or kernel oom.

Got the very same result: one cpu stuck at 60% forever.

When restarting redis-server, it keeps crashing again.

The output

[2019-07-18 06:28] bpress commented on #769
Another smaller test:

- hard-flushed redis (stop, removal of dump file, fresh start)
- created 500k docs
- deteled 100k docs

now redis is not crashing on restart, but one process keeps up a cpu at 60% anyway

[code]

[2019-07-18 06:50] MeirShpilraien opened #770 "Alias should throw cross slot violation"
Even though the alias is not a key we still no to throw cross slot violation so alias will always be located at the same shard on which the index is.

Should be backport to 1.4

[2019-07-18 07:04] gkorland commented on #759
@mnunberg is that about block?

[2019-07-18 09:19] swilly22 opened #771 "RediSearch_CreateEmptyNode"
In some case, e.g. `WHERE a.v > 5 AND a.v < 3`
we would like to quickly get empty result-set from RediSearch, in such cases querying an Empty `RSQNode` should return with no results.

[2019-07-18 11:07] swilly22 opened #772 "RediSearch_CreateLexRangeNode consider range ends"
Although RediSearch_CreateNumericNode takes into account range ends:
int includeMax, int includeMin

While  RediSearch_CreateLexRangeNode doesn't, consider: `WHERE a.v >='a' AND a.v <= 'z'

[2019-07-19 03:47] hzdx200 commented on #737
Thanks for your quick reply, your comments are really important to trigger me to test it again.
I will try to change another greater machine running redisearch. and  as your advise above, pre-format all the documents.
I can share the result this or next mid-week.
Thanks again for your help!

[2019-07-19 16:11] #771 closed

[2019-07-19 16:11] mnunberg commented on #771
Merged

[2019-07-19 16:18] mnunberg commented on #769
Is it possible for you to send me the rdb file that is causing the crash?

[2019-07-20 10:32] mnunberg commented on #769
Also, can you tell me if the same problem happens using the `1.4` branch?

[2019-07-21 11:48] gkorland commented on #757
@mnunberg what is the status here?

[2019-07-21 12:42] MeirShpilraien opened #776 "LexRangeNode looks only on the terms trie and so working with TAGS [C API]"
We should allow it to search on a given trie.

[2019-07-22 00:09] mnunberg commented on #757
I'm working through the issues!

[2019-07-22 06:05] bpress commented on #769
Here is the rdb dump with 400k keys left causing the crash. I'll give a try to branch 1.4 as soon as I can.
[dump.rdb.gz](https://github.com/RediSearch/RediSearch/files/3415887/dump.rdb.gz)

[2019-07-22 07:35] bpress commented on #769
Ok, I've run the test twice on 1.4.11. There is no CPU usage at 60% after the test completes, but the server keeps crashing on restart, the stack trace is showing a similar entry:

...
EIP:
/opt/redis-modules/redisearch.so(DocTable_Exists+0x39)[0x7f08f3c0d559]
...

[2019-07-22 08:18] MeirShpilraien commented on #769
@bpress this should fix the crash:
https://github.com/RediSearch/RediSearch/pull/777

Regarding the cpu usage. You used the default GC and you deleted many documents. When the GC sees that it has lot of data to clean it decreases the delta between GC iterations and consumes much more CPU. From the RDB you provide I know that it did not yet finish to clean all (cause I see there is still deleted do

[2019-07-22 10:12] mnunberg opened #779 "Fix ambiguity when comparing string to numeric value"
Version: 1.4.9

First note is that this has nothing to do with any particular client or syntax. It is simply that an FT.ADD if value < same value should return NOADD and not change the doc, but it returns OK and makes the change. Note that the "greater than" ">" does not have the same bug.  See below.

[code]
The following NOADD is expected since 4001 is not less than 4000. And, no updates to the

[2019-07-22 10:31] mnunberg opened #780 "Unify Trie, TrieMap"
Maybe use rax instead altogether?

[2019-07-22 10:48] gkorland commented on #780
As I recall there was some advantage in our current implementation over rax

[2019-07-22 14:58] bpress commented on #769
@MeirShpilraien #777 seems to be working.
As to the GC test, here is a link to a 1M doc rdb dump:

[dump.rdb.gz](https://static.msoft.it/files/dump.rdb.gz) (about 40MB)

Run this simple script over this database:

[code]

[2019-07-22 18:13] R-tesh commented on #563
updating the below line with -lrt in CMakeLists.txt fixes it:

SET(CMAKE_C_FLAGS "-lrt ${CMAKE_C_FLAGS} ${RS_C_FLAGS}")

[2019-07-22 19:42] mnunberg commented on #600
This might be useful for debugging in larger setups; rather than restarting the cluster.

[2019-07-23 08:53] swilly22 opened #782 "Free RSDoc [C API]"
Incase a `RSDoc` been created via `RediSearch_CreateDocument` but the document wasn't added to an index via a call to `RediSearch_SpecAddDocument`
we need a way to free the document, currently the API doesn't provide such functionality.

[2019-07-23 09:06] swilly22 opened #783 "Get document using doc ID [C API]"
Is it possible to query the index using doc ID?
I would like to know if a document was indexed or not

[2019-07-23 09:39] MeirShpilraien commented on #769
@bpress thanks, I will give it a look.

[2019-07-23 09:49] ashish200025 opened #784 "Problem using FT.CREATE command with PHP whereas works in CMD"
Below is my command which works correct in CMD:
FT.CREATE paras SCHEMA name TEXT SORTABLE age NUMERIC SORTABLE myTag TAG SORTABLE

but when i try to do it with PHP like below:
$redis->rawCommand( 'FT.CREATE', "INDEXNAME SCHEMA name TEXT SORTABLE age NUMERIC SORTABLE myTag TAG SORTABLE");

then it always returns false. where as FT.INFO works correctly in PHP like below:
$redis->rawCommand('FT.INFO'

[2019-07-23 13:09] bpress commented on #769
@MeirShpilraien I left the server idle for 24 hours but one core is still at 60% so I doubt it's related to indexes non being collected yet....

[2019-07-23 13:14] mnunberg commented on #784
according to the [documentation](https://github.com/phpredis/phpredis#example-106) `rawCommand` takes a variadic list of arguments. It looks like you are sending `INDEXNAME SCHEMA name TEXT`... etc. as a single argument.

[2019-07-23 13:14] #784 closed

[2019-07-25 06:25] MeirShpilraien commented on #776
https://github.com/RediSearch/RediSearch/pull/785

[2019-07-25 06:25] MeirShpilraien commented on #772
https://github.com/RediSearch/RediSearch/pull/785

[2019-07-25 17:11] #783 closed

[2019-07-25 17:16] #776 closed

[2019-07-25 17:16] #772 closed

[2019-07-28 07:25] #758 closed

[2019-07-28 07:57] MeirShpilraien commented on #769
@bpress I just tested it locally on v1.4.11 and I can not reproduce what you described. Its true that during the deletion phase the cpu increases because the GC start cleaning garbage but once it finished (after few minutes) the cpu usage got back to normal.
Any chance you are doing something else on the database? maybe something continue update it and not stopping?

[2019-07-28 08:06] mnunberg commented on #769
He's using 1.6 @MeirShpilraien

[2019-07-28 08:11] MeirShpilraien commented on #769
Ohh I thought its also happened on 1.4.11, so on 1.4.11 the problem was only the crash right @bpress?

[2019-07-29 13:49] filipecosta90 opened #798 "Differences in the total number of results returned by FT.SEARCH between OSS 1.4.11 and OSS 1.6.0"
Assess the reason for different total number of results returned by FT.SEARCH between OSS 1.4.11 and OSS 1.6.0.

TODO:
* simplify/reduce the dataset size until there is no discrepancy between the result sets?
* Once the dataset size is reduced, send us an RDB
* check that the first number returned by search (i.e. the number of documents matching in index) is the same in both versions?
Does the abo

[2019-07-29 13:53] filipecosta90 commented on #798
RediSearch versions:

*1.4.11*

built from: https://github.com/RediSearch/RediSearch/tree/v1.4.11

redis-server --protected-mode no --save "" --appendonly no   --daemonize yes --loadmodule  /home/ubuntu/oss/RediSearch/redisearch_v1.4.11.so ON_TIMEOUT FAIL

redis-server --protected-mode no --save "" --appendonly no   --daemonize yes --loadmodule  /home/ubuntu/oss/RediSearch/redisearch_v1.4.11.so TI

[2019-07-29 15:25] filipecosta90 commented on #798
Steps to reproduce:

# Fetch FTSB and its dependencies
$ go get github.com/filipecosta90/ftsb
$ cd $GOPATH/src/github.com/filipecosta90/ftsb/cmd
$ go get ./...

# Install desired binaries. At a minimum this includes ftsb_generate_data,
# ftsb_generate_queries, one ftsb_load_* binary, and one ftsb_run_queries_*
# binary:
$ cd $GOPATH/src/github.com/filipecosta90/ftsb/cmd
$ cd ftsb_generate_data &&

[2019-07-29 15:30] filipecosta90 commented on #798
@MeirShpilraien @gkorland @mnunberg the smaller dataset (enwiki-latest-abstract1.xml.gz) already returns differences on total number of results returned ( runned with TIMEOUT 0 on redis-server ):
1.4.11 OSS: 3007704
1.6.0 ( https://github.com/RediSearch/RediSearch/tree/b790eebc035a0f747819c63fcac546bd79ddd553 ): 3006890

[2019-07-29 18:20] swilly22 opened #799 "Free Iterator shouldn't free RSQNode from which it was created"
Enable recreation of iterator using the same Index and RSQNode objects.

[2019-07-30 15:49] MeirShpilraien opened #806 "GC free the ThreadSafeCtx without holding the GIL"
Most of the times it should be fine but when we have watched keys it will try to close them without holding the GIL.

Base on the reports here this actually cause a crash:
https://github.com/JohnSully/KeyDB/issues/70

[2019-07-31 07:05] gkorland opened #807 "Make fork GC the default GC"

[2019-07-31 07:24] MeirShpilraien commented on #766
The final decision is that we will look at special flag in redis that will tell us to stop sending data to replica

[2019-07-31 18:49] mahemoff opened #810 ""Document already exists" error with "REPLACE" option"
I saw a "document already exists" error on a `FT.ADD` command with `REPLACE` option set. If I understand correctly, that error should never occur with `REPLACE` set?

It occurred while the client was bulk-indexing in parallel (using Parallel gem). Each thread was indexing a distinct set of documents, but is it possible there's a race condition that caused the error to occur? I only saw it once, wh

[2019-08-01 07:23] gkorland opened #811 "Add port and host input for the tests"

[2019-08-01 13:11] manoj-jayaraman opened #812 "Incorrect result when searching for fields containing special char using '|' for union"
I am trying to perform search for multiple words using '|' on a field . When I tried to perform the search I am getting incorrect result.  Find below the statements executed.  Getting proper result only if the value for the field doesn't contain "--" (result of 1st search command).
If I replace the "--" with "*" to perform wild card search, I am getting result only for the last search text provide

[2019-08-01 14:28] gkorland commented on #812
@manoj-jayaraman thanks for reporting the issue, can you please mark the version you're using?

[2019-08-01 15:22] manoj-jayaraman commented on #812
@gkorland find below the version details

127.0.0.1:6379> MODULE LIST
1) 1) "name"
   2) "ft"
   3) "ver"
   4) (integer) 10600

[2019-08-01 15:28] mnunberg commented on #812
@manoj-jayaraman I'll look at this later; but I would suggest you look (and maybe paste) the output of `FT.EXPLAIN` (or `FT.EXPLAINCLI`) of your query. This will show you how your query is actually parsed.

[2019-08-01 15:37] manoj-jayaraman commented on #812
@mnunberg Find below the explain plan for all the 3 commands.

127.0.0.1:6379> FT.EXPLAINCLI "idx" "@title:'book1'|'book3'"
 1) @title:UNION {
 2)   @title:UNION {
 3)     @title:book1
 4)     @title:+book1(expanded)
 5)   }
 6)   @title:UNION {
 7)     @title:book3
 8)     @title:+book3(expanded)
 9)   }
10) }
11)
127.0.0.1:6379> FT.EXPLAINCLI "idx" "@title:(book * 1|book * 3)"
 1) @title:INTERSE

[2019-08-01 15:45] manoj-jayaraman commented on #812
Tried using the FILTER clause to select the title with "--" in FT.AGGREGATE and it resulted in the correct result. Find below the execution details
127.0.0.1:6379> FT.AGGREGATE "idx" "@title:book*" GROUPBY 2 @title @bookid REDUCE MAX 1 @price FILTER "@title == 'book--1' || @title=='book--3'"
1) (integer) 5
2) 1) title
   2) "book--3"
   3) bookid
   4) "300"
   5) _g0_maxprice
   6) "3003"
3) 1) t

[2019-08-02 00:38] lipoiq opened #814 "Case sensitive cyrillic (Russian)"
The search does not find **Cyrillic** case-sensitive words.
Word at index: "_Текстовый_"
Cannot find with search query: "_текстовый_"

And cannot find with search query: "_текст_"

[2019-08-02 09:59] mnunberg commented on #814
You'd like the field to be indexed as both russian and english?

[2019-08-02 10:27] filipecosta90 commented on #798
Solved on #801

[2019-08-02 10:27] #798 closed

[2019-08-02 13:52] lipoiq commented on #814
@mnunberg yes

[2019-08-04 06:11] MeirShpilraien commented on #811
Those should do it:
https://github.com/RedisLabsModules/RLTest/pull/27
https://github.com/RediSearch/RediSearch/pull/817

[2019-08-04 10:17] #770 closed

[2019-08-04 10:18] MeirShpilraien commented on #766
Should be covered by this:
https://github.com/RediSearch/RediSearch/pull/819

[2019-08-04 10:29] MeirShpilraien commented on #810
@mahemoff thanks for reporting. I will try to reproduce locally with some concurrent add operation. Will update here if/when I will success..

[2019-08-05 08:24] sheinbergon opened #820 "Redis crashes to to SIGSEGV received in redisearch"
Details:

- Redisearch version: 1.4.11 or 1.4.6 (happens in both)
- Redis version: 5.0.3
- Error Details:

[code]

Additional output:

[code]

[2019-08-05 08:27] MeirShpilraien commented on #820
@sheinbergon thanks for reporting, can you check with 1.4.12?

[2019-08-05 08:50] sheinbergon commented on #820
@MeirShpilraien  thank you for the prompt response. I had to delete the data to recover from the situation earlier. I upgraded to 1.4.12, so let's keep this issue open for now to see if it re-occurs.

[2019-08-05 08:57] MeirShpilraien commented on #820
So it happened when you start the redis? I believe upgrading to 1.4.12 would have solved it without deleting the data. Anyway let use know if its still happening.

[2019-08-05 08:59] sheinbergon commented on #820
@MeirShpilraien Yes, it did, care to elaborate on why would the fix had solved it?

[2019-08-05 09:55] MeirShpilraien commented on #820
@sheinbergon sorry but I believe it will also happened to you in 1.4.12. I believe it failed from the same reason as this https://github.com/RediSearch/RediSearch/issues/769 but at different location in the code. Will submit a PR to fix it as well and you will get the fix at 1.4.12.

[2019-08-05 13:39] mnunberg commented on #820
@MeirShpilraien do we know if this also affects master?

[2019-08-05 13:45] mnunberg commented on #812
So if you see the explain output from before, the `book*1` or `book*3` doesn't do what you think it does.

Maybe it will work if, while indexing, you do `book\-\-1`, otherwise it will tokenize as `book`, `1`, and likewise do `book\-\-1` in `FT.SEARCH`. Note that when using redis-cli, you will need to double-escape; e.g. `book\\-\\-1`

[2019-08-05 13:58] MeirShpilraien commented on #820
There is also a PR for master : https://github.com/RediSearch/RediSearch/pull/822

[2019-08-05 14:37] mnunberg opened #823 "Potential dangling pointer in RediSearch_CreateField"
When creating two fields in succession, e.g.

[code]

The second creation of the field may cause `f1` to be a dangling pointer; meaning that if you try to set any kind of option on it, it may crash or otherwise corrupt memory. The only solution is to change the API to return an array index into the internal field list, and have all field-manipulation or access functions require the passing of the

[2019-08-05 15:15] MeirShpilraien commented on #823
@swilly22 @ashtul FYI

[2019-08-06 06:43] MeirShpilraien commented on #823
@mnunberg maybe we can change the struct to hold a pointer to the spec and the field index and then the api will stay the same right?

[2019-08-06 09:35] mnunberg commented on #823
And when will it be freed?

[2019-08-06 10:41] #820 closed

[2019-08-06 10:44] MeirShpilraien commented on #820
@sheinbergon pls reopen if its still happening even after the fixes.

[2019-08-06 11:53] #823 closed

[2019-08-06 12:15] #782 closed

[2019-08-06 16:00] #807 closed

[2019-08-06 16:00] #759 closed

[2019-08-06 16:00] #757 closed

[2019-08-06 16:01] mnunberg commented on #812
Closing, as this seems to be a usage error; I'll still respond on here, but re-open if we've found an actual bug.

[2019-08-06 16:01] #812 closed

[2019-08-06 16:02] mnunberg commented on #728
It's been a month and we've not heard back. Closing. Please reopen if this is still an issue.

[2019-08-06 16:02] #728 closed

[2019-08-06 16:02] #713 closed

[2019-08-07 08:38] sheinbergon commented on #820
@MeirShpilraien  thank you! is there an ETA for the next tagged release?

[2019-08-07 11:26] MeirShpilraien opened #827 "Cherry picks"
https://github.com/RediSearch/RediSearch/pull/826

[2019-08-07 11:48] MeirShpilraien commented on #820
Probably this week.

[2019-08-07 12:11] #811 closed

[2019-08-07 15:42] gkorland opened #828 ""double free or corruption (fasttop)" crash on FT.SUGADD"
[code]

[code]

[2019-08-08 07:09] MeirShpilraien commented on #820
@sheinbergon FYI: https://github.com/RediSearch/RediSearch/releases/tag/v1.4.13

[2019-08-08 09:33] mnunberg opened #829 "Docker build should record git sha in log"
Right now it shows an empty string for git, which is not helpful for `edge`

[2019-08-08 10:06] mnunberg commented on #828
I tried running this on docker, i could not reproduce

[2019-08-10 10:43] mnunberg commented on #828
[code]

[2019-08-11 06:37] gkorland commented on #828
@mnunberg where did you fix it?

[2019-08-11 09:57] mnunberg opened #835 "ExpandPhonetics: Free phonetics buffer externally"
Right now, the ExpandPhonetics/DoubleMetaphone functions free the previous 'out' pointer; but this should be done at the caller level, if possible

[2019-08-12 13:42] #708 closed

[2019-08-12 13:53] K-Jo commented on #633
@gkorland wouldn't this be obsolete after #764

[2019-08-12 14:04] gkorland commented on #633
I think we need them both

[2019-08-13 12:40] #829 closed

[2019-08-13 12:40] #828 closed

[2019-08-13 12:42] #827 closed

[2019-08-14 07:36] MeirShpilraien opened #842 "V1.6.1 crash when running all the pytests"
[code]

[2019-08-14 08:13] mnunberg commented on #842
@MeirShpilraien I cannot reproduce this; furthermore the symbols don't match up to what I have.

[2019-08-14 08:35] MeirShpilraien commented on #842
@mnunberg Try test with the pytests from 1.4.6

[2019-08-15 12:50] #842 closed

[2019-08-15 19:09] dsnowberger opened #848 "Crash when using SORTBY on fields created with FT.ALTER"
I added some new sortable text fields, and SORTBY on those fields causes a core dump - unless INFIELDS has been set to match the sorted fields.

Command:
`ft.search index query sortby new_field`

Error:
```redis-server: /RSBUILD/src/value.c:444: RSValue_Cmp: Assertion `v1' failed.```

Redisearch version is 1.4.12. No other data shows up in the debug log.

[2019-08-16 06:06] mnunberg commented on #848
(note) This seems to affect 1.4 series only. Should not be an issue on master

[2019-08-16 16:30] dsnowberger commented on #848
Is this something that will be fixed then for 1.4.14, @mnunberg? Or will it be an issue until 1.5?

[2019-08-26 13:13] MeirShpilraien opened #862 "FT.SEARCH crash when using WITHSORTKEY without SORTBY"
Happened only on 1.6

[code]
[code]

[2019-08-26 13:56] MeirShpilraien opened #864 "WITHSORTKEYS is not working with FT.AGGREGATE if the key is not sortable"
[code]

[2019-08-26 13:56] MeirShpilraien opened #865 "Legacy sortby is not working if fields names are numbers"
[code]

[2019-08-26 14:16] djbokkeman opened #866 "FT crash on restart"
On start/restart of the server we get "The RDB file contains module data for the module '
                                                                                     ' that is not terminated by the proper module value EOF marker"

Within the single quotes '' there is a lot of whitespace.

I'm not sure how to use gdb on startup with redis-server.

Database is about 200mb.

Our database som

[2019-08-26 14:21] MeirShpilraien commented on #866
@djbokkeman Can you send us the corrupted RDB?

[2019-08-26 14:37] djbokkeman commented on #866
Hi @MeirShpilraien,

Thank you so much!

Please follow link and I will approve access immediately.

correct: https://drive.google.com/file/d/1aZDa3DO2tUY-ELxra1Tw7Wmsq0N82wYb/view?usp=sharing
corrupt: https://drive.google.com/file/d/1FNfi0VGdGWyvcghIoFz5plNSNyKsr1kn/view?usp=sharing

[2019-08-26 15:26] MeirShpilraien commented on #866
@djbokkeman I currently suspect at something, can you check it you see such log message in you redis log file?
`Trie: saving %zd nodes actually iterated only %zd nodes`

[2019-08-26 16:19] djbokkeman commented on #866
@MeirShpilraien, yes I got those in the lot:

334:M 26 Aug 16:15:55.709 * 10000 changes in 60 seconds. Saving...
2334:M 26 Aug 16:15:55.795 * Background saving started by pid 14346
14346:C 26 Aug 16:15:57.307 # <ft> Trie: saving 17382 nodes actually iterated only 17383 nodes

[2019-08-26 18:43] MeirShpilraien commented on #866
@djbokkeman So my assumption is correct. Redisearch wrote to the RDB that the number of terms in the trie is 17382, but it actually wrote 17383 terms. When RediSearch reads this RDB it reads only 17382 terms, the last term is not read by RediSearch and cause a corruption when redis continues to read the RDB.
The Trie in the RDB tells me that you are also using the suggestion api (SUGADD, SUGGET,..

[2019-08-26 20:04] djbokkeman commented on #866
Hi @MeirShpilraien,

That's great! I added 2 docs. First how we add the suggestions and second some queries. I Hope it's helpful. Please let me know if you need more info.

code for adding: https://drive.google.com/file/d/1la0udWZPL5d9HBkY9iDw7HDvO0AmeByQ/view?usp=sharing
few seconds of live queries: https://drive.google.com/file/d/1HGcJDvKVE5PnekStRgG1pC9d8xJzVO3J/view?usp=sharing

[2019-08-27 06:52] mnunberg opened #867 "Crash in destroy when running graph tests"
[code]

[2019-08-27 07:28] #867 closed, assigned to nobody

[2019-08-27 10:47] MeirShpilraien commented on #866
@djbokkeman I finally was able to reproduce it!
[code]
[code]

It is a bug in the trie that allows to delete a none existing nodes, this cause the trie node counter to be reduced by one while no node was actually deleted, eventually it cause a corruption.

The fix is pretty easy and we will add it to 1.4.15 (probably will be release this week).

The only question left is whether or not you need th

[2019-08-27 11:20] djbokkeman commented on #866
Hi @MeirShpilraien,

That's just awesome news and we really appreciate the swift response. thanks!

Also thank you for the kind offer but we don't really need to recover the corrupted data. We can rebuild it from a working version within an acceptable timeframe.

It might not be related to this restart bug, but we also experience (virtual)memory increasing in time. At 70gb of virtual memory we res

[2019-08-27 12:25] MeirShpilraien commented on #866
Lets open a different issue for the memory. We have a big PR that solves many memory issues: https://github.com/RediSearch/RediSearch/pull/857. I hope to merge it soon. I you don't want to wait until we merge it you can try take this branch and see if it solve those memory leaks...

[2019-08-27 12:38] autocorrectoff commented on #179
it's okay to use ft.adds in multi transaction, correct @dvirsky ?

[2019-08-27 13:58] djbokkeman commented on #866
@MeirShpilraien I will test #857, 1.4 on our dev server and let you know.

[2019-08-27 14:08] MeirShpilraien commented on #866
Great, let me know how it goes, if it will not help then we will deep dive to your specific use-case and try to identify the leak...

[2019-08-28 09:33] djbokkeman opened #874 "Memory increases over time"
This is a follow-up on #866 - memory increasing in time.

Currently we see (virtual)memory increasing in time. It seems to be happening when calling:
1. Have a operational database with plenty of keys
2. Call: "FT.DROP indexname KEEPDOCS"
3. Call: "FT.CREATE indexname STOPWORDS 0 SCHEMA"
4. Call: "FT.ADDHASH indexname product:x 1 REPLACE LANGUAGE dutch" (x thousands of products)
5. Repeat step 2.

[2019-08-28 10:17] MeirShpilraien commented on #874
@djbokkeman did you eventually tested with this branch: https://github.com/RediSearch/RediSearch/pull/857?

[2019-08-28 11:51] #866 closed

[2019-08-28 12:03] MeirShpilraien commented on #865
We should check if FT.SEARCH is used and treat it as legacy (allow single level of sorting)

[2019-08-28 12:04] K-Jo opened #876 "Threading design document"
Move https://oss.redislabs.com/redisearch/Threading.html to design documents and extend to add other threads such as the indexer thread

[2019-08-28 12:08] K-Jo opened #877 "Rename SAFEMODE to ATOMICMODE"
Since it's a better choice to reflect what it represents.  Let's make sure it's backwards compatible though. https://oss.redislabs.com/redisearch/Configuring.html#safemode

[2019-08-28 12:09] djbokkeman commented on #874
Hi @MeirShpilraien, Sorry my bad. I tested it on the 1.4 (thought it contained the fixes).
Now I just compiled and loaded #857 and it seems to be improved a lot but it's still expanding memory. While the new index get's recreated we also regenerate all hashes and adding them to the index and also adding search suggestions etc. Everything we add is provided with the REPLACE argument.

Please let me

[2019-08-28 12:15] K-Jo commented on #877
Then let's find a better name to represent:
```There is, however, a negative effect as well: we sacrifice atomicity of reads and writes for concurrency to a degree. Consider the following situation: One thread is processing a query that should retrieve document A, then yields the execution context; At the same time, another thread deletes or changes document A. The result - the query run by the fi

[2019-08-28 12:48] MeirShpilraien commented on #874
@djbokkeman I will try to reproduce with the steps you describe under valgrind. Will update you if I will find something. If I will find nothing we will see how we continue with the investigation.

[2019-08-28 13:46] MeirShpilraien commented on #874
@djbokkeman are you using different indexes names when re-creating the index? If so I found a big leak when dropping an index. Can you re-check with this branch: https://github.com/RediSearch/RediSearch/pull/857 (notice that I force pushed to it cause I rebased from 1.4).
Pls let me know how it looks.

[2019-08-28 13:51] MeirShpilraien commented on #848
@dsnowberger Thanks for reporting, will fix that for 1.4.16.

[2019-08-28 14:23] MeirShpilraien commented on #810
@mahemoff did it reproduced sense you reported it?

[2019-08-29 06:27] djbokkeman commented on #874
@MeirShpilraien yes we are using a lot of indexes. I will re-check the branch and let you know!

[2019-08-29 10:28] djbokkeman commented on #874
Hey @MeirShpilraien it seems to help but it's stil expanding the memory in our use-case.

[2019-08-29 11:09] djbokkeman commented on #874
@MeirShpilraien I wil happily provide you a new dump. Would It be helpful to provide an Appendonly database ?

[2019-08-29 14:07] MeirShpilraien commented on #874
Yes AOF will be great, will help to reproduce the leak.

[2019-08-29 19:51] pablodiguerero opened #881 "Server breaks on Mac OS after indexing ~14k documents"
`redis-server(28036,0x7000111f7000) malloc: *** error for object 0x7f80640d8cb0: pointer being realloc'd was not allocated
redis-server(28036,0x7000111f7000) malloc: *** set a breakpoint in malloc_error_break to debug
Assertion failed: (size == sizeof(long long)), function FGC_sendLongLong, file /usr/local/opt/RediSearch/src/fork_gc.c, line 67.
Abort trap: 6`

[2019-08-29 20:44] #881 closed

[2019-08-29 23:40] mnunberg commented on #881
@pablodiguerero Did you intend to close this?

[2019-09-02 08:40] Nomafin commented on #348
Is this going to be implemented in the near future? Would be exactly what I'd need for my project.

[2019-09-02 08:42] mnunberg commented on #348
Hi, we plan to implement this at some point. “Near future” is a relative term, but it basically involves allowing suffix searches as well (e.g. “*foo”)

[2019-09-02 10:21] mohsintahir opened #884 "Optional Query weight attribute doesn't work if apply on same field."
Right now, when I try to search a keyword and use an optional query with weight on the same field to boost result, it doesn't seem doing anything.

I have tried redisearch 1.4.0 and 1.4.15

I have indexed document with different TEXT fields of variable sizes and while indexing I have given them different document_score based on my app internal logic. Now I want my users to search for a document by

[2019-09-02 11:30] mnunberg commented on #884
Can you try with the latest master? There are known issues with optional queries on 1.4.x

[2019-09-03 08:14] MeirShpilraien commented on #874
@djbokkeman any news ?

[2019-09-03 08:53] mohsintahir commented on #884
I am using docker for development. isn't redislabs/redisearch:stable points to latest master ?

[2019-09-03 09:14] mnunberg commented on #884
`:stable` should be pointing to the latest official release, which isn't master. `:edge` points to master.

[2019-09-03 10:03] mohsintahir commented on #884
I have tested with `:edge` but still same result.

[2019-09-03 10:04] mnunberg commented on #884
Can you provide a list of commands that I can use to reproduce?

[2019-09-03 10:32] mohsintahir commented on #884
# Create `shows`

FT.CREATE shows STOPWORDS 0 SCHEMA title text weight 50

# Add documents

1. FT.ADD shows 1 0.025 NOSAVE REPLACE FIELDS title "fareham civil church sermon and convers mohsin convers the"

2. FT.ADD shows 2 0.05 NOSAVE REPLACE FIELDS title "mohsin convers with the mohsin"

3. FT.ADD shows 3 0.0251 NOSAVE REPLACE FIELDS title "convers the convers a drama about convers the scienc of

[2019-09-03 10:57] MeirShpilraien commented on #884
@mohsintahir there is a bug in redisearch which I will describe bellow but regardless your query is not complete, you need to also specify the 'inorder' and 'slop' attributes so it will tell redisearch you actually want exact match for 'conversation the conversation'.

Now to the bug, the problem happens even before the optional iterator, look at the following query (with the index and data from y

[2019-09-03 12:20] mohsintahir commented on #884
@MeirShpilraien Thank you so much for helping me understand what's going on, it really helped me alot understanding things. I didn't incorporate $slop and $inorder because In documents it is mentioned that $slop defaults to 0 and I was using quotes to wrap the text, so I thought $inorder is not needed.

Anyhow a big thanks!.

Can you kindly release the next version as I think this bug is itself a

[2019-09-03 12:30] djbokkeman commented on #874
Hi @MeirShpilraien, I did not had time yet to set everything up. But I will try this or next week.

[2019-09-03 14:07] MeirShpilraien commented on #884
@mohsintahir Sorry its my mistake, you are right, the 'slop' and 'inorder' is not needed. After the fix your query works just fine:
[code]

There is a pending PR for the fix: https://github.com/RediSearch/RediSearch/pull/885
we will release soon

[2019-09-03 14:57] #884 closed

[2019-09-03 17:08] ericfengchao opened #887 "Unexpected behaviour when searching in traditional chinese"
im recently experimenting with chinese support for redisearch and I found an odd situation with it. I have indexed two documents with same one word(旋转), just that one in simplified chinese(旋转) while the other in traditional(旋轉). The command logs are as follows.
[code]

Then, when i try to search the documents with simplified(旋转), i get both docs return.
[code]

However, when i search with traditio

[2019-09-03 20:13] aflin opened #888 "Crash while inserting"
While testing using node/redisearchclient by inserting wikipedia abstracts, redis server crashed.

[code]

[2019-09-03 20:14] mnunberg commented on #888
Thanks for the report! I'll look into it later. Would it be possible for you to reproduce this using debugging symbols? or is this quite sporadic. The client doesn't matter here.

[2019-09-03 20:17] aflin commented on #888
It happens every time.  Would running with debugging symbols involve recompiling redis or the module?  If you give instructions, happy to do it.

[2019-09-03 20:19] mnunberg commented on #888
[code]
you should have a `redisearch.so` file in the current directory

[2019-09-03 20:35] aflin commented on #888
OK did that.  Using newly compiled module, the report looks pretty much the same.  Maybe I missed something?

[code]

[2019-09-03 20:37] mnunberg commented on #888
Maybe it’s just redis being wonky.. Can you run it in gdb and show me a stack trace, then? if it’s not too complicated

[2019-09-03 20:55] aflin commented on #888
And this:
(gdb) bt
#0  _serverPanic (file=file@entry=0x52d518 "server.c", line=line@entry=3893, msg=msg@entry=0x52e000 "Redis aborting for OUT OF MEMORY") at debug.c:723
#1  0x000000000042e6ee in redisOutOfMemoryHandler (allocation_size=<optimized out>) at server.c:3893
#2  0x0000000000437a29 in zmalloc (size=11289370878120296448) at zmalloc.c:101
#3  0x00007fffee647bea in rm_malloc (n=11289370878

[2019-09-03 23:11] mahemoff commented on #810
I haven't been monitoring it tbh. I did see it a few times on that day, though seems to be rare. I'll let you know if I do see it again.

[2019-09-04 06:32] MeirShpilraien commented on #888
@mnunberg its looks like we get a bad value from the fork and we try to allocate a very very big buffer

[2019-09-04 06:36] MeirShpilraien commented on #888
@aflin is it current master? or is it 1.6.1 docker?

[2019-09-04 06:39] MeirShpilraien commented on #887
@ericfengchao Can you specify the redisearch version you are using?

[2019-09-04 06:55] gkorland commented on #887
I managed to recreate it with 1.4.15, we'll check it out

[2019-09-04 07:11] ericfengchao commented on #887
i am using the latest redisearch docker image which i suppose is version `1.4.15`.

[2019-09-04 17:02] aflin commented on #888
This is not a docker.  I grabbed it just yesterday using "git clone https://github.com/RedisLabsModules/RediSearch.git" and compiled it on both Centos 7.3 and Ubuntu 18.04.  Same issue on both machines.

[2019-09-05 18:48] stockholmux opened #896 "Inconsistent error messages for unknown index"
The capitalization is inconsistent in the `unknown index` error. This causes problems when trying to catch the error.

[code]
(notice the "I" in index - one is upper, one is lower)

[2019-09-05 20:04] mnunberg commented on #888
@aflin Can you give me (or point me to) steps to reproduce? I'd like to see a few contents of variables in the debug log to see where the problem may reside.

[2019-09-05 20:05] mnunberg commented on #888
Specifically, the contents of `info` on frame 6

[2019-09-05 21:12] aflin commented on #888
Ok I reproduced it  on a third machine (debian) in this directory: https://flin.org/redisearch-err/
[code]
and whatever else you might want from there.
[code]
On all three machines it crashes somewhere between 900k and 1.1m documents.

Hope this helps.

[2019-09-05 21:45] aflin commented on #888
Changed wget https://flin.org/redisearch-err/startredis to wget https://flin.org/redisearch-err/startredis.sh to fix a 403.

[2019-09-06 00:47] mnunberg opened #897 "set gc process priority to lowest"
the gc fork process is a background process essentially, so it should not get scheduling priority

[2019-09-06 00:57] mnunberg commented on #888
Thanks for the info! I'm running the example right now. It seems no updates are being run, so gc itself shouldn't actually be sending anything back..

[2019-09-08 08:48] MeirShpilraien commented on #874
@djbokkeman I have added another commit to this branch: https://github.com/RediSearch/RediSearch/pull/857

There was a memory leak caused by not calling pthread_detach on the GC and INDEXER threads. This means that those threads was stopped successfully but the memory they take was not free because it was kept in case someone will call join at some point. Calling pthread_detach fix it.

If you hav

[2019-09-08 10:02] MeirShpilraien commented on #779
The problem is that variable ot1 is a string and '4002' is a number, if used with `"` it works just fine:
[code]

[2019-09-08 10:19] mnunberg commented on #779
I think this comes from the mailing list

[2019-09-09 13:26] #848 closed

[2019-09-09 13:31] MeirShpilraien commented on #799
@swilly22 we decided that its no longer needed right?

[2019-09-09 13:37] MeirShpilraien commented on #779
MOD-233

[2019-09-09 13:51] mnunberg commented on #779
Proper solution to this is to:

1) Provide int/string functions for explicit conversion
2) Return error if comparison is between number and string

[2019-09-09 13:54] #685 closed

[2019-09-09 13:58] MeirShpilraien opened #900 "Code coverage"

[2019-09-09 14:21] swilly22 commented on #799
@MeirShpilraien I can't recall, I'll check tomorrow morning

[2019-09-09 14:24] psheltz opened #901 "Compile Error on armv7l"
I am trying to compile the current version of RedisSearch on a Raspberry Pi 3 with armv7l. I get the following compile error:
[code]
Has anyone else tried to build on a non-x86 system? Is there a minimum gcc that RediSearch requires? My OS is Ubuntu16.04 and gcc is v5.4.0.

[2019-09-09 15:39] rafie commented on #901
This is a genuine error, happening on arm7l and not on aarch64. It's a warning turned into error, so we can try suppressing it for sake of testing.

[2019-09-09 15:53] psheltz commented on #901
Is there a modification I should make to a config file and recompile?

[2019-09-09 15:54] mnunberg commented on #901
https://github.com/RediSearch/RediSearch/blob/master/cmake/redisearch_cflags.cmake#L19

[2019-09-09 15:55] mnunberg commented on #901
@psheltz is there more context on the types expected vs received?

[2019-09-09 16:05] psheltz commented on #901
@mnunberg I tried compiling on another RPI system that has more up to date gcc (8.3.0) and I get the same error but better debug output:
[code]

[2019-09-09 16:11] ashton-ellis commented on #848
@MeirShpilraien Does 1.4.16 have a release date that you can share?

[2019-09-09 16:42] mnunberg commented on #901
No, it should be fine

[2019-09-09 16:43] mnunberg commented on #901
You could even modify the function to return a `size_t` instead of `unsigned long` and thereby avoid the warning altogether (and this also seems to be the correct solution; and is indeed more related to x32)

[2019-09-09 17:10] psheltz commented on #901
I added `SET(HAVE_W_INCOMPATIBLE_POINTER_TYPES OFF)` to the cmake file and it compiles fine. For the long term, I may modify the source code as you suggested. Thanks!

[2019-09-09 21:10] dsnowberger opened #902 "Random crash on 1.4.12 - malloc_consolidate(): invalid chunk size"
Had a random crash using fork_gc during normal operation (upserts, fairly basic queries, a few aggregations), nothing appears to have precipitated it. Please let me know if I can provide further information:

redisearch version is 1.4.12

=== REDIS BUG REPORT START: Cut & paste starting from here ===
17:M 09 Sep 2019 19:35:12.453 # Redis 5.0.5 crashed by signal: 11
17:M 09 Sep 2019 19:35:12.453 #

[2019-09-10 07:00] MeirShpilraien commented on #902
@dsnowberger it looks like you restarted the redis which caused the fork process to crash because the pipe for the IPC was closed (Only the fork process is using ForkGc_FDWriteLongLong).
Could it be the case? If you can share the entire log file is will be easier to verify.

[2019-09-10 07:51] MeirShpilraien commented on #848
Should be released this week

[2019-09-10 08:03] MeirShpilraien commented on #865
fix : https://github.com/RediSearch/RediSearch/pull/903

[2019-09-10 10:37] lipoiq opened #904 "Allow to delete rows with query"
When will this opportunity be as in MySQL?

**For example in MySQL:**
```DELETE FROM table_name WHERE column1 = 'redis'```

**For example for RediSearch:**
```FT.DEL index_name @title|description:"mysql" [DD]```

[2019-09-10 10:51] dwedwick opened #905 "Redis 5.0.5 crashed by signal: 11 - using RediSearch"
Hi, Redis with RediSearch stops a few times a day with this error.  What's going wrong or how to fix?

Thanks

[code]

[2019-09-10 10:54] MeirShpilraien commented on #905
@dwedwick can you pls specify the redisearch version you are using?

[2019-09-10 12:08] MeirShpilraien commented on #904
@lipoiq You are not the first to ask for this feature, we hope to have it soon. Till then you might want to try another approach, you can try using redisgears (https://github.com/RedisGears/RedisGears) to achieve what you want. Basically you just need to write a python script that reads the relevant docs from redisearch and deleted them one by one. Small thing to notice is that you need to use red

[2019-09-10 14:10] dwedwick commented on #905
I pulled it from Github yesterday.  Latest log shows:

commit ba7484684e985ad0d23d76e1fc61c706a4ee7c61
Author: Meir Shpilraien (Spielrein) <meir@redislabs.com>
Date:   Mon Sep 9 17:01:56 2019 +0300

[2019-09-10 14:12] mnunberg commented on #905
This appears to be master; adding to 1.6 project

[2019-09-10 16:08] MeirShpilraien commented on #888
This happened because of an empty term (`""`) which cause corruption in the IPC between the fork process and redisearch.
@mnunberg I think the right solution is not to add empty terms to the index, what to you think?

[2019-09-10 16:20] mnunberg commented on #888
Worth seeing how empty terms are added in the first place. But yes!

[2019-09-10 18:24] dsnowberger commented on #902
@MeirShpilraien redis certainly restarted, but that was due to the crash and not any manual effort on our part - and the loglevel is info, so that's basically all the log I have - preceding the stack trace:

[code]

I don't believe that query parsing error is related, there's something in our API sitting on this that needs to be addressed likely not handling hyphenation/negation properly and we've

[2019-09-10 18:44] MeirShpilraien commented on #902
Sorry I see it now it was the other way around, redis crash cause the fork to crash. Any chance you can describe your usecase? Reproduction steps. To solve it we must be able to reproduce it..

[2019-09-10 19:19] dsnowberger commented on #902
I understand - I see if the problem is not caused by something in fork, then it could be anything. Unfortunately I don't have a good way to repro. If nothing can be figured, then I suppose the only thing I can do is see if it recurs and turn on debug logging. We've been running for some time (months) without issue. The only redis restarts have been maintenance, this is the first crash of this kind

[2019-09-11 06:29] MeirShpilraien commented on #905
@dwedwick if you have a reproduction steps it can help us solve this issue ..

[2019-09-11 06:55] MeirShpilraien commented on #902
@dsnowberger I recommended to switch to 1.4.16, there are some crashes we fixed. Then if it will happened again we might get a better stack trace to figure out what happened.

[2019-09-12 01:29] dwedwick commented on #905
I don't know how to reproduce the problem.  I load a bunch of data and it seems to work for hours and then it fails.  I'm guessing maybe during garbage collection or during saving the rdb file.

I've turned off saving the file in redis.conf and save manually periodically.  I also restart Redis daily with a cron job.  All has been working better since then.

[2019-09-12 01:38] dwedwick commented on #905
I do see another crash entry - Redis was restarted at 23:01 and ran for two hours.  Not much activity happens at night, so I don't think there was much regarding new data.

<pre>
5910:M 10 Sep 2019 23:01:14.239 # WARNING: The TCP backlog setting of 511 cannot be enforced because /proc/sys/net/core/somaxconn is set to the lower value of 128.
5910:M 10 Sep 2019 23:01:14.240 # Server initialized
5910

[2019-09-12 02:42] mnunberg commented on #905
@dwedwick How are you building `redisearch.so`? I'd need to dig in and see the debugging symbols

btw, the second crash happens inside the gc, but within the forked child process. It should not cause the parent process to fail, and redis should continue to function normally (though any crash is still a bug)

[2019-09-13 12:17] #901 closed

[2019-09-16 13:36] #865 closed

[2019-09-16 14:11] filipecosta90 commented on #737
hi there @hzdx200, following this thread, we've implemented a simple microbenchmark using JMH and your use case. I've included the code in the following file/branch:
https://github.com/filipecosta90/JRediSearch/blob/perf-add-documents/src/test/perf/redisearch/client/DocumentIngestionBenchmark.java

If you check the code, we've splited the data generation from document insertion so that the values

[2019-09-16 15:20] yossigo commented on #737
@filipecosta90 I have seen big difference in general Redis access performance when connecting directly to the docker interface addr vs. going through the exposed/published port.  It might impact this benchmark as well, you may want to check it out.

[2019-09-17 08:00] djbokkeman commented on #874
Hi @MeirShpilraien, sorry for my late response. I just updated to 1.4 and let you know how memory behaves.

[2019-09-17 10:45] djbokkeman commented on #874
@MeirShpilraien It went up from 6gb to 14gb in a few hours. I'm a little bit afraid to run the database in AOF mode but will try.

[2019-09-18 14:15] MeirShpilraien commented on #874
@djbokkeman
Wowo, is it worst then before?

[2019-09-18 14:42] djbokkeman commented on #874
Hi @MeirShpilraien, It's stable for a few hours now without restarts around 14gb. I also started saving the AOF. I will try to let it run till tomorrow without restarts and send you the dump+AOF.

It seems to increase at a restart rapidly and around 13-14gb and then it stops expanding. Previously it would grow till 70gb and a restart was necessary. So it might just be allright now. Keep you posted

[2019-09-18 15:06] MeirShpilraien commented on #874
This is a good news, thanks you, let us know how it passed the night.

[2019-09-19 10:18] djbokkeman commented on #874
@MeirShpilraien Live database grew from 14,7 to 15.9 gb overnight. It's a small increase compared to a few releases ago. We did activate AOF on our staging. But because it's our staging environment it takes a lot of time to increase in memory because of absence of traffic. And we have trouble to simulate this kind of traffic. I will pack the database and send you a link. After a few hours we could

[2019-09-19 10:23] djbokkeman commented on #874
@MeirShpilraien just send you an invite for downloading the database. Thanks for the help again!

[2019-09-22 15:44] MeirShpilraien commented on #874
@djbokkeman I will look at it.

[2019-09-23 13:59] K-Jo commented on #779
- throw error when comparison can't be done
- add `toInt` method

[2019-09-23 15:47] rafie commented on #779
to_number method, as comparison operators currently support only doubles.

[2019-09-26 06:37] MeirShpilraien opened #916 "Add a function to APPLY to calculate geo distance"

[2019-09-26 13:00] K-Jo commented on #916
(https://groups.google.com/forum/#!topic/redisearch/R4fz5cip1n8)

[2019-09-26 16:48] ashokgit opened #918 "RediSearch Crashes"
Hello, I got this issue. Can anybody help???
[code]

[2019-09-26 16:52] mnunberg commented on #918
What version of search are you using? should be in the log message at startup

[2019-09-26 16:55] ashokgit commented on #918
2353:M 26 Sep 2019 16:43:16.235 * <ft> RediSearch version 1.6.1 (Git=v1.6.0-200-g60ddfbec)

[2019-09-26 17:29] mnunberg commented on #918
That’s a pretty old version of master/1.6; can you upgrade to a newer version (you can also usecurrent master)

[2019-09-26 17:29] ashokgit commented on #918
Noted. Will Try.

[2019-09-26 17:44] ashokgit commented on #918
Now it reads this : 4455:M 26 Sep 2019 17:40:34.161 * <ft> RediSearch version 99.99.99 (Git=v1.6.0-260-ga0f9db48)
this 99.99.99 ... can this be true??

[2019-09-26 17:45] mnunberg commented on #918
yeah, the 99.99.99 is the ‘display’ version, while the git= is the ’true’ version

[2019-09-26 18:29] mmasouras commented on #918
I updated to redis-5.0.6 and the latest redisearch from trunk today, and I also get a crash. Lmk if I should post this to a different issue.

=== REDIS BUG REPORT START: Cut & paste starting from here ===
26466:S 26 Sep 2019 18:24:07.145 # Redis 5.0.6 crashed by signal: 11
26466:S 26 Sep 2019 18:24:07.145 # Crashed running the instruction at: 0x558433bd9e48
26466:S 26 Sep 2019 18:24:07.145 # Acces

[2019-09-26 18:37] mmasouras commented on #918
24764:S 26 Sep 2019 18:07:21.219 * <ft> RediSearch version 99.99.99 (Git=v1.6.0-260-ga0f9db48)

[2019-09-26 18:40] mnunberg commented on #918
This seems like a duplicate of #888. We have identified the issue and will have a fix for this soon, but I'm currently not feeling very well. Let me know if this is the only backtrace you get

[2019-09-26 18:41] mnunberg commented on #918
@mmasouras I suggest you post this to, or follow #888, unless you are working in the same environment as @ashokgit, since I don't want backtraces/use cases confused.

[2019-09-26 18:43] mmasouras commented on #888
My backtrace

=== REDIS BUG REPORT START: Cut & paste starting from here ===
26466:S 26 Sep 2019 18:24:07.145 # Redis 5.0.6 crashed by signal: 11
26466:S 26 Sep 2019 18:24:07.145 # Crashed running the instruction at: 0x558433bd9e48
26466:S 26 Sep 2019 18:24:07.145 # Accessing address: (nil)
26466:S 26 Sep 2019 18:24:07.145 # Failed assertion: (:0)

------ STACK TRACE ------
EIP:
/usr/local/bin/red

[2019-09-26 19:19] mmasouras commented on #888
I got this different stack trace this time. I am not including the info section.

=== REDIS BUG REPORT START: Cut & paste starting from here ===
22156:C 26 Sep 2019 19:14:24.770 # ------------------------------------------------
22156:C 26 Sep 2019 19:14:24.770 # !!! Software Failure. Press left mouse button to continue
22156:C 26 Sep 2019 19:14:24.770 # Guru Meditation: Redis aborting for OUT OF

[2019-09-26 19:20] mnunberg commented on #888
@mmasouras if you run without GC, does it still crash? does this happen often?

[2019-09-26 19:22] mmasouras commented on #888
I don't know how to run without GC, but I can try it.

This crash has started happening immediately after I updated redisearch and redis to the latest versions, yesterday. I can't start redis right now at all.

[2019-09-26 19:23] mnunberg commented on #888
ouch! can you send the rdb to meir? (I’m on sick leave…)

[2019-09-26 19:26] ashokgit commented on #918
@mnunberg I get the following with a unresponsive redis. had to forcefully kill the redis-server process ..
------ DUMPING CODE AROUND EIP ------
Symbol: _serverPanic (base: 0x563a980be6b0)
Module: redis-rdb-bgsave *:6379 (base 0x563a9804b000)
$ xxd -r -p /tmp/dump.hex /tmp/dump.bin
$ objdump --adjust-vma=0x563a980be6b0 -D -b binary -m i386:x86-64 /tmp/dump.bin
------
7074:C 26 Sep 2019 19:05:45.9

[2019-09-26 19:29] mmasouras commented on #888
Sorry to hear Mark, yes I will. Hope you feel better.

[2019-09-26 19:33] ashokgit commented on #918
Some More,

------ DUMPING CODE AROUND EIP ------
Symbol: _serverPanic (base: 0x563a980be6b0)
Module: redis-rdb-bgsave *:6379 (base 0x563a9804b000)
$ xxd -r -p /tmp/dump.hex /tmp/dump.bin
$ objdump --adjust-vma=0x563a980be6b0 -D -b binary -m i386:x86-64 /tmp/dump.bin
------
5240:C 26 Sep 2019 18:07:51.745 # dump of function (hexdump of 452 bytes):
41544189f4554889fd534881ece001000048898c2448010000

[2019-09-26 19:35] mmasouras commented on #888
I just started redis successfully with the NOGC option for redisearch.

[2019-09-26 19:45] mmasouras commented on #888
And confirm that when I removed the NOGC option and started again, it crashes. Slightly different stack trace again though:

=== REDIS BUG REPORT START: Cut & paste starting from here ===
27539:C 26 Sep 2019 19:44:45.615 # Redis 5.0.6 crashed by signal: 11
27539:C 26 Sep 2019 19:44:45.615 # Crashed running the instruction at: 0x555c470a6637
27539:C 26 Sep 2019 19:44:45.615 # Accessing address: 0x7

[2019-09-26 19:52] MeirShpilraien commented on #888
We already know what causing the crash here, its a NULL term in the database, if you think its the same issue then no investigation is needed, otherwise please open another ticket with all the details (the crash report, version,...)

[2019-09-26 19:53] mnunberg commented on #888
meir am I don't know but the same cause because the backtrace is a bit different and I would've expected the err to be caught a bit earlier sorry for any typos I'm using speech to text

[2019-09-26 19:55] mnunberg commented on #918
Can you run without garbage collection?See if this still happens

[2019-09-26 22:43] mmasouras opened #919 "nil values returned for non-existent fields when sorting"
RS returns a nil value when I am sorting and the document doesn't have that field. I am investigating further to understand if that happens in all cases or there are special circumstances that lead to this.

The document p:734802 does NOT have a field "price". Here I dump the entire document, add it to search, and then search for it with sorting.

[code]

Let's try to explicitly "delete" this fiel

[2019-09-27 04:51] ashokgit commented on #918
Yes, This seems to solve the problem for now. Will let you know if otherwise.
But turning this off is not recommended as per the doc:

"This is used mainly for debugging and testing, and should not be set by users.".

What do you suggest?

[2019-09-27 05:17] mnunberg commented on #919
what version are you using?

[2019-09-27 05:30] mnunberg commented on #919
also does this happen for fields that dont exist at all (w/o addhash...replace and del)

[2019-09-27 05:41] mnunberg commented on #916
wed need an api first... maybe..

[code]
or maybe auto-detect a geo field, even, and do the magic underneath!

[2019-09-27 05:41] mnunberg commented on #900
@MeirShpilraien can we merge?

[2019-09-27 17:51] mmasouras commented on #919
I am using this version in production:
RediSearch version 1.4.2 (Git=v1.4.2-255-gf947fd74)

I have not tried it with the latest version because I can't get it to run: https://github.com/RediSearch/RediSearch/issues/888

It's ok to leave this issue open/unattended until we figure the major crashing problem out and then I 'll try it again and see if it persists. Also yes, this field is sortable.

[2019-09-28 07:25] stryt2 commented on #498
I found that this is also the case for `FT.SEARCH`.

[code]

Despite the result says there are 183 documents, only 10 of them are returned. From the [official command reference](https://oss.redislabs.com/redisearch/Commands.html#ftsearch),

which, to me, it sounds like the results should only be limited if the `LIMIT` keyword and its parameters are present.

Is this constraint purposely set for pe

[2019-09-30 17:35] shijuabraham commented on #416
https://github.com/tporadowski/redis/releases now supports modules. Can we get redisearch module updated for windows also?

[2019-09-30 17:36] shijuabraham opened #920 "Windows Port"
Redis for windows (https://github.com/tporadowski/redis/releases) now supports modules. Can we get redisearch module updated for windows also?

[2019-10-03 08:46] MeirShpilraien commented on #918
@ashokgit can you sent us an RDB that reproduce this issue?

[2019-10-03 08:48] MeirShpilraien commented on #918
@mmasouras pls create a new issue for any crash, we will investigate and decide it its a duplication or not.

[2019-10-03 08:55] MeirShpilraien commented on #920
Hey @shijuabraham,
This request is currently not on our short road-map.
We will gladly accept any PR's to support it.
Currently the main problem I see is that the FORKGC (which uses a fork process) can not run on windows cause FORK api does not exists on windows. But I believe that for a start its good enough to just disable the FORKGC.

[2019-10-03 11:56] MeirShpilraien commented on #888
@mnunberg I think the right solution is to change the protocol and also denied empty terms which might be added to the terms trie like this:
`FT.ADD idx doc1 1.0 FIELDS test ""`

[2019-10-03 12:12] mnunberg commented on #888
I'm working on changing the protocol.. though again I haven't been able to replicate this behavior or find an empty term within the trie.

[2019-10-03 12:16] #900 closed

[2019-10-03 12:22] mnunberg opened #922 "internal geo filter should use numeric constants, not strings, for units"

[2019-10-03 12:56] mohsintahir opened #923 "prioritize exact match containing same number of words over exact match with more number of words"
I have multiple documents indexed in Redisearch, out of which 2 have titles let say "communication the communcation" and "verbal communication the communication".

When I issue query => "\"communication the communicatio\""
it returns correct above mentioned documents but their order is misleading like it  returns in the following order
1. "verbal communication the communication"
2.  "communication

[2019-10-03 15:04] gnaneshr opened #925 "How do we detect whether it is "oss redisearch" or "redisearch enterprise"?"
Is there a command that only "redisearch enterprise" supports? so that we can distinguish between oss redisearch and redisearch enterprise.

We are working on an application that connects to redis instances, but there's no way to check whether it's "oss redisearch" or "redisearch enterprise".

[2019-10-06 07:32] MeirShpilraien commented on #925
hey @gnaneshr
Why does it matter to you application if it connects to oss or enterprise redis? If you find that those are not operate the same I would like to know about it.

[2019-10-06 09:02] ashtul opened #927 "RSValue_Decref on RSValue_Null crushes"

[2019-10-06 09:03] ashtul commented on #927
`RSSortingVector *v3 = NewSortingVector(tbl->len);

RSSortingVector_Put(v3, 0, NULL, RS_SORTABLE_NIL);

ASSERT_EQ(v3->values[0]->t, RSValue_Null);

RSValue_Decref(v3->values[0]);`

[2019-10-06 11:07] mnunberg commented on #888
@aflin @mmasouras can you see if this pr (https://github.com/RediSearch/RediSearch/pull/926) makes any difference?

[2019-10-06 12:43] ashtul commented on #927
No path through RediSearch. Archived throw cpp

[2019-10-06 12:43] #927 closed

[2019-10-06 13:36] MeirShpilraien commented on #902
@dsnowberger any news here?

[2019-10-06 18:35] mmasouras commented on #919
Hi, do you think you 'll be able to take a look at this now?

[2019-10-06 20:26] mnunberg commented on #919
@mmasouras #888 is fixed, so give a go theere

[2019-10-07 04:08] aflin commented on #888
It is working for me now.
Thanks a bunch!

[2019-10-07 10:41] #888 closed

[2019-10-07 10:42] mnunberg commented on #918
@ashokgit Can you check if this problem still exists on the latest master branch?

[2019-10-07 10:44] mnunberg commented on #905
@dwedwick This may have been fixed in the latest master and appears to be a result of #888, can you verify and close if fixed?

[2019-10-07 11:06] mnunberg commented on #923
If you look in the documentation, maybe a non-default scorer can do what you want

[2019-10-07 11:17] mnunberg commented on #887
We use friso internally, which *should* run the same code paths for both query and tokenization

[2019-10-07 13:21] #864 closed

[2019-10-07 13:21] #897 closed

[2019-10-07 13:21] #887 closed

[2019-10-07 13:52] dwedwick commented on #905
Thank you - I've installed the latest version and started the server with:

loadmodule /var/lib/redis/redisearch.so GC_POLICY FORK FORK_GC_CLEAN_THRESHOLD 500

Will update the progress.

[2019-10-07 16:17] dsnowberger commented on #902
@MeirShpilraien we upgraded to 1.4.16 when it became available and have not experienced a recurrence - that said, our servers were running for some time before this happened. I think the only thing that can be done is to close this issue and if it recurs I will reach out again, hopefully with more in the logs. Thanks for checking in.

[2019-10-07 19:10] mmasouras commented on #919
I still get a core dump :(

=== REDIS BUG REPORT START: Cut & paste starting from here ===
27649:M 07 Oct 2019 12:01:02.904 # ------------------------------------------------
27649:M 07 Oct 2019 12:01:02.904 # !!! Software Failure. Press left mouse button to continue
27649:M 07 Oct 2019 12:01:02.905 # Guru Meditation: Redis aborting for OUT OF MEMORY #server.c:3893
27649:M 07 Oct 2019 12:01:02.905

[2019-10-07 19:11] mmasouras commented on #919
27649:M 07 Oct 2019 12:00:25.839 # Server initialized
27649:M 07 Oct 2019 12:00:25.842 * <ft> RediSearch version 99.99.99 (Git=v1.6.0-299-ga9b0a50c)
27649:M 07 Oct 2019 12:00:25.842 * <ft> Low level api version 1 initialized successfully
27649:M 07 Oct 2019 12:00:25.843 * <ft> concurrency: ON, gc: ON, prefix min length: 1, prefix max expansions: 200, query timeout (ms): 10000, timeout policy: retu

[2019-10-07 19:53] mmasouras commented on #919
I removed my rdb file completely and let the recplica do a full resync. That seemed to stop the core-dump from happening.

However, the original problem (getting nil values back when sorting) is not addressed with the latest build.

[2019-10-08 02:24] dwedwick commented on #905
I'm still having the software stop:

=== REDIS BUG REPORT START: Cut & paste starting from here ===
23736:M 07 Oct 2019 17:34:03.546 # Redis 5.0.5 crashed by signal: 11
23736:M 07 Oct 2019 17:34:03.546 # Crashed running the instruction at: 0x548685
23736:M 07 Oct 2019 17:34:03.546 # Accessing address: (nil)
23736:M 07 Oct 2019 17:34:03.546 # Failed assertion: <no assertion failed> (<no file>:0)

-

[2019-10-09 16:37] nishantgeorge commented on #925
Hey @MeirShpilraien

@gnaneshr and I are working on [RedisInsight](https://redislabs.com/redisinsight).

The naming of index keys in RediSearch on Redis Enterprise seems to be different from the way it's done on Redis OSS. On RE, there seems to be an extra hash tag appended to the key name (e.g. `idx:myindex{JA5}`, the `{JA5}` part is not part of the index name, but exists on the key on RE).

This

[2019-10-09 17:01] mnunberg commented on #925
I suppose we could add a DEBUG subcommand, or maybe FT.VERSION which should provide greater more detailed output

[2019-10-10 17:04] dragnot opened #941 "Error when adding NOCREATE to ft.add"
127.0.0.1:6379> FT.CREATE idx SCHEMA test TEXT SORTABLE
OK
127.0.0.1:6379> FT.ADD idx doc1 1.0 REPLACE NOCREATE FIELDS test foo
(error) Document does not exist
127.0.0.1:6379> FT.ADD idx doc1 1.0 FIELDS test foo
OK
127.0.0.1:6379> FT.ADD idx doc1 1.0 REPLACE NOCREATE FIELDS test foo
OK
127.0.0.1:6379>

FT.ADD people_prod_v8 people_prod_v8:P7ef82beb35b934206c74c559610134e0 1 REPLACE PARTIAL NOCREAT

[2019-10-13 01:33] immortalx opened #942 "Same document indexed by multiple indexes"
Hi! This question is about having the same document indexed by multiple indexes so when i update the document all the indexes are "updated".

The use case is for a friend's list search so whenever an user changes it's name, we update just one document instead of a document for each friend's list.

It's possible to do this with the current api?

[2019-10-13 03:29] immortalx commented on #942
I just found on the docs what i wanted to know.

Here's for reference:
https://oss.redislabs.com/redisearch/Commands.html#ftadd

[2019-10-13 03:29] #942 closed

[2019-10-13 12:38] ashtul opened #944 "FT.ADD with incorrect index gives wrong error"
[code]
Should return `Unknown index name`

Error returns from parseDocumentOptions() which is called before.

[2019-10-13 13:15] mnunberg commented on #944
Should it? The provided arguments are incorrect. Logically, arguments should be parsed for correctness prior to actually accessing any resources.

[2019-10-13 13:15] #944 closed

[2019-10-14 18:18] dme-development opened #947 "RediSearch crash on v1.4.16"
We are seeing lot's of crashes every day.

RediSearch version 1.4.16 (Git=v1.4.16)
concurrency: ON, gc: ON

This is the full crash report:

=== REDIS BUG REPORT START: Cut & paste starting from here ===
66237:S 14 Oct 2019 19:03:09.245 # Redis 5.0.3 crashed by signal: 11
66237:S 14 Oct 2019 19:03:09.245 # Crashed running the instruction at: 0x7f72da019abb
66237:S 14 Oct 2019 19:03:09.245 # Accessi

[2019-10-14 18:28] MeirShpilraien commented on #925
A better way would be to expose a command to get all indexes..

[2019-10-15 02:39] mnunberg commented on #919
Hrm, I still cannot replicate this behavior.. Can you send me your rdb again? (If you've sent it already, I apologize.. I am just now recovering)

[2019-10-15 02:41] mnunberg commented on #905
Can you tell if this happens while you're executing a command, or is this at start-up or background?

[2019-10-15 07:38] ashokgit commented on #918
@mnunberg Thanks. The latest build worked. and Sorry for the late reply, was in a small vacation.

@mmasouras  If any other issues in the future, will let you know in a new issue post.

[2019-10-15 07:39] #918 closed

[2019-10-15 11:31] ashtul opened #950 "incorrect error in parseDocumentOptions"
Should produce error along the line of `replac: Unknown argument`
[code]

[2019-10-15 11:46] ashtul commented on #950
Having `{.name = NULL}` in argList ensures we would never reach the above error.

[2019-10-15 11:47] ashtul commented on #950
And that we'll never reach the `continue` in line 73

[2019-10-15 14:38] MeirShpilraien commented on #947
@dme-development did you compiled yourself or do you use docker?

[2019-10-15 15:38] dme-development commented on #947
@MeirShpilraien it is self compiled.

Can you conclude from the crash report what is causing this?

[2019-10-15 15:40] MeirShpilraien commented on #947
I need the redisearch.so binary, can you pls send it to me?

[2019-10-15 15:49] dme-development commented on #947
@MeirShpilraien  I've just send it to you via mail.

[2019-10-15 22:23] dwedwick commented on #905
I'm not sure what is happening when there's a problem.  Often, it happens at night, so I don't think anything is being updated / very little use.

I started Redis with:

loadmodule /var/lib/redis/redisearch.so NOGC

seven days ago and I haven't had a failure yet.

[2019-10-16 05:33] MeirShpilraien commented on #947
Thanks, I will check it out.

[2019-10-16 05:36] MeirShpilraien commented on #905
@dwedwick is it possible to get RDB file that reproduce this issue?

[2019-10-16 06:37] MeirShpilraien commented on #947
@dme-development I think I might have found what can cause such a crash, can you please try switching to SAFEMODE and let me know if it still happened? You can switch to SAFEMODE using:
`redis-server --loadmodule ./redisearch.so SAFEMODE`

[2019-10-16 06:53] dme-development commented on #947
@MeirShpilraien I will request the change and keep you updated on the difference.
Will this affect performance in any way?

[2019-10-16 07:00] MeirShpilraien commented on #947
@dme-development it should not effect performance.
Regardless, how often do you see this crash?

[2019-10-16 07:13] dme-development commented on #947
@MeirShpilraien About 20 times per day.

[2019-10-16 07:28] MeirShpilraien commented on #947
@dme-development wowo this is a lot, let me know if the SAFEMODE solved it.
Last question, are you updating your numeric index a lot?

[2019-10-16 10:02] dme-development commented on #947
@MeirShpilraien I can confirm the crashes don't occur anymore since the SAFEMODE is on, at least until now.
We are having updates on our indexes constantly, almost every minute. Our indexes exist of text, numeric and tag fields.

Can we just keep running it in safemode without causing any other issues?

[2019-10-16 10:03] dwedwick commented on #905
Yes - how to I get it to you?

[2019-10-16 10:08] MeirShpilraien commented on #905
You can send to my email.

[2019-10-16 10:13] MeirShpilraien commented on #947
@dme-development yes for now keep running on safemode, I am not closing the issue and I will update once the issue is solved.

[2019-10-16 10:46] dwedwick commented on #905
Hi,

Here's a link to the file - it's too big to e-mail.

http://www.concatservices.com/dump.rdb.bz2

Thanks

=================
Dave Wedwick

On Wed, Oct 16, 2019 at 3:08 AM Meir Shpilraien (Spielrein) <
notifications@github.com> wrote:

[2019-10-16 10:57] MeirShpilraien commented on #905
@dwedwick Can you upload it to google drive or something, currently Its gone take me 5 hours to download ..

[2019-10-16 13:53] dme-development commented on #947
@MeirShpilraien even with the SAFEMODE on, we've had 2 crashes until now. It looks better then before, but the crashes still occur.
The stacktraces of the 2 crashes from today looks exactly the same as the one I posted yesterday (without SAFEMODE on).

[2019-10-16 14:19] MeirShpilraien commented on #947
I see, so the safe mode did not stopped it, it just hide it a little. Now I am not sure the problem I found and the problem you have are the same, we might have another issue.

Any chance you can get a core dump (of the crash) and send it to me to investigate?

[2019-10-16 19:15] dwedwick commented on #905
Hi,

Please try this:

https://drive.google.com/file/d/1CC445JrI3yaZfMQbshLDul2qkT5KLLUR/view?usp=sharing

Thanks

=================
Dave Wedwick

On Wed, Oct 16, 2019 at 3:58 AM Meir Shpilraien (Spielrein) <
notifications@github.com> wrote:

[2019-10-16 19:39] Nomafin opened #951 "Newest edge build floods logs"
The newest Docker edge build (as of Oct 16th) floods gigabytes of logs in a matter of minutes when it's normally working otherwise. All the log rows are:

```{"log":"warning: got a bad length when writing to pipe.\r\n","stream":"stdout","time":"2019-10-16T19:26:22.912825727Z"}```

[2019-10-16 21:23] mnunberg commented on #951
Does the log correlate with anything else? This shouldn't happen generally..

[2019-10-16 21:33] mnunberg commented on #905
Thanks for sending the rdb! (if there is sensitive info on it, you should delete it now). I've managed to replicate the crash!

[2019-10-16 21:57] dwedwick commented on #905
Great - thanks

=================
Dave Wedwick

On Wed, Oct 16, 2019 at 2:33 PM Mark Nunberg <notifications@github.com>
wrote:

[2019-10-21 09:49] Nomafin commented on #951
Is it possible to turn the logging of completely? RediSearch takes lots of resources right now and I think it's just because of the logs. The latest 1.6 RC doesn't do the same (but can't be used because of the bug that produces wrong search results that is fixed in the edge version).

[2019-10-21 10:55] mnunberg commented on #951
Unfortunately this specific line is a `printf()` statement so it doesn't go through the normal Redis logging mechanism. My best suggestion as a temporary fix is to comment out the line and rebuild, until this issue is fixed in the next release.

[2019-10-21 13:53] Nomafin commented on #951
Found a workaround: I overrid the container starting command with

```redis-server --loadmodule /usr/lib/redis/modules/redisearch.so --logfile /dev/null```

which did the trick. Docker writes all stdouts to the log as well so this works as a workaround until you release the real fix for the problem.

[2019-10-22 08:19] guykorlandredis opened #954 "FT.SEARCH with RETURN changes the format of NUMERIC field"
The output of Numeric Field is changed when returned with a RETURN clause in a FT.SEARCH query. This only happens when the number is 12 digits or longer.

However, the same number is returned in a standard numeric format when FT.SEARCH is run without any RETURN clause or if it queried using FT.GET

[code]

Same query when run without the RETURN clause. See how the output of the “age” column change

[2019-10-22 10:58] mnunberg commented on #954
@gkorland are the fields sortable by any chance? Also, what version does this happen on?

[2019-10-22 11:03] mnunberg opened #956 "Change config.c to use args rather than ad-hoc version"

[2019-10-22 11:13] mnunberg opened #957 "arg parsing should not modify target value on failure"
Otherwise, a previously valid value might be found to contain garbage later on.

[2019-10-22 12:06] mnunberg commented on #951
@Nomafin Please try the latest master version; the underlying issue should be fixed there.

[2019-10-22 12:06] #951 closed

[2019-10-22 12:07] mnunberg commented on #905
@dwedwick Should be fixed in latest master commit

[2019-10-22 12:07] #905 closed

[2019-10-22 12:09] #950 closed

[2019-10-23 09:46] MeirShpilraien commented on #919
@mmasouras Can you pls check with v1.6.4 to verify that the crash has been fixed?

[2019-10-23 09:49] mstaack commented on #125
check this post:
https://groups.google.com/forum/#!topic/redisearch/R4fz5cip1n8

[2019-10-23 10:43] mnunberg commented on #919
@mmasouras I'm based in Central Florida but my hours are all over the place  :)

[2019-10-23 14:50] mstaack commented on #703
@MeirShpilraien given i have a record with `name` and i want it to be fully searchable (type text) and also have the possibility to have an exact match (type tag) do i have to duplicate the attribute?
so adding a TAG and a TEXT attribute?

or is there something better?

thanks

[2019-10-23 17:25] mmasouras opened #959 "crash while adding/removing docs"
I checked out and built redisearch from commit  392fd654ae39c29cf8124b7c782a2a4f0479bc26

=== REDIS BUG REPORT START: Cut & paste starting from here ===
8393:S 23 Oct 2019 09:17:37.838 # Redis 5.0.6 crashed by signal: 11
8393:S 23 Oct 2019 09:17:37.838 # Crashed running the instruction at: 0x55be795a1698
8393:S 23 Oct 2019 09:17:37.839 # Accessing address: (nil)
8393:S 23 Oct 2019 09:17:37.839 # F

[2019-10-23 17:53] mmasouras commented on #919
Hi, I installed the latest version but unfortunately I still see the bug.

16507:S 23 Oct 2019 17:44:43.657 * <ft> RediSearch version 1.6.4 (Git=v1.6.4)
16507:S 23 Oct 2019 17:44:43.657 * <ft> Low level api version 1 initialized successfully

127.0.0.1:6379> "FT.SEARCH" "il1" "@ctitle:vulcan* @tags:{w\\:couchride\\:t\\:bagger} @tags:{w\\:couchride} @geo:[-122.4325682 37.7561438 10 mi]" "LIMIT" "0"

[2019-10-23 18:16] mmasouras commented on #919
I will let you know if it crashes again. In the meantime, my build from a few days ago crashed again tonight.

redisearch crash (fatal):
https://github.com/RediSearch/RediSearch/issues/959

redis rdb save crash (non-fatal for main process)
https://github.com/antirez/redis/issues/6494

[2019-10-23 19:47] mmasouras opened #960 "crash while saving RDB"
Moved here from https://github.com/antirez/redis/issues/6494

This crash happened repeatedly (+10 times) when trying to dump rdb to disk. The server stayed up (or was restarted automatically?) until a different crash (https://github.com/RediSearch/RediSearch/issues/959) caused the main process to die.

[code]

[2019-10-23 19:48] mmasouras commented on #919
The rdb crash is now here https://github.com/RediSearch/RediSearch/issues/960

[2019-10-23 20:45] MeirShpilraien commented on #919
Is this on 1.6.4? Pls specify versions on each issue you open.

[2019-10-23 20:51] mmasouras commented on #960
RediSearch version 99.99.99 (Git=v1.6.0-331-g392fd654)

[2019-10-23 20:51] mmasouras commented on #959
RediSearch version 99.99.99 (Git=v1.6.0-331-g392fd654)

[2019-10-23 20:52] mmasouras commented on #919
This issue is about nil values returned. I pasted the latest response from redisearch above, along with the version number:
16507:S 23 Oct 2019 17:44:43.657 * RediSearch version 1.6.4 (Git=v1.6.4)

The crashes were happening with the previous version, I pasted it in the two issues:
RediSearch version 99.99.99 (Git=v1.6.0-331-g392fd654)

[2019-10-23 21:24] mnunberg commented on #919
I’ll look with the rdb you provided

[2019-10-23 21:31] mmasouras commented on #919
Thanks.

FYI, the crashes will not be easy to replicate - they happened after I had the server running for a few days:
https://github.com/antirez/redis/issues/6494#issuecomment-545552292

[2019-10-23 22:12] mmasouras commented on #960
This happened after a couple of days of running:
https://github.com/antirez/redis/issues/6494#issuecomment-545552292

[2019-10-24 06:15] MeirShpilraien commented on #919
@mnunberg there is also a crash in this ticket (not just the nil value return) and the crash look different then the other crashes you reported yesterday, I want to understand if this crash is solved on the new version (1.6.4)

[2019-10-24 06:24] MeirShpilraien commented on #959
@mmasouras are you deleting keys created by redisearch? maybe you have an expire policy configure?

[2019-10-24 08:08] MeirShpilraien commented on #703
Currently I do not see any other way. We might add in the future the ability to do exact match of TEXT but currently its not possible (notice that even if we do it, it will probably be much less efficient then using tags).

[2019-10-24 08:15] mnunberg commented on #703
I am guessing that _maybe_ (and just _maybe_) it could be possible with a filter expression using aggregation. It would be very slow of course, but might work for a one-off.

[2019-10-24 11:22] mstaack commented on #703
thanks for your info!
so if you want sql like `where name = "foobar"`   name needs to be a TAG field.

[2019-10-24 11:32] MeirShpilraien opened #963 "Send expire command to slave when Temporary index is touched"
Otherwise the slave will not update the expiry

[2019-10-24 11:39] MeirShpilraien commented on #959
@mmasouras Can you send me your redis-server and redisearch.so binaries?

[2019-10-24 12:18] MeirShpilraien commented on #959
Also can you run with 1.6.4 and tell us if its still crashing?

[2019-10-24 12:58] mnunberg commented on #954
This does not appear to be an issue with 1.6 in this particular case, but overall there remains the issue of the data in our "sortable" not being of the same format as what is stored in Redis. The proper way to solve this is by adding an actual long integer field type..

[2019-10-24 16:49] mmasouras commented on #919
The crash in this ticket does not seem to happen anymore.

However, yesterday night I had two more crashes that seem similar to each other. I am pasting the stack traces here, would you like me to file a separate bug for those:

16507:S 23 Oct 2019 17:44:43.657 * <ft> RediSearch version 1.6.4 (Git=v1.6.4)

=== REDIS BUG REPORT START: Cut & paste starting from here ===
15234:C 24 Oct 2019 07:05:06.

[2019-10-24 17:10] mmasouras commented on #959
Hi Meir,

Although redis is still crashing - see #919 - I don't see this particular stack trace anymore with 1.6.4.

I don't delete keys created by redisearch (on purpose), neither do I have set an expiry policy.

[2019-10-24 17:11] mnunberg commented on #919
so back to the original issue.. it seems that the document itself has a 'nil' value for price, for some reason..

[2019-10-24 17:15] mmasouras commented on #919
In case it helps:

127.0.0.1:6379> hget p:563978 price
(nil)

127.0.0.1:6379> hget p:563978 fielddoesnotexist
(nil)

[2019-10-24 17:17] mnunberg commented on #919
@mmasouras What version was the rdb initially loaded with?

[2019-10-24 17:18] mnunberg commented on #919
I think this has to do with an earlier version of search placing `NULL` inside the sorting table..

[2019-10-24 17:22] mmasouras commented on #919
Well this RDB was first created by redis > 2 years ago and then I added redisearch about 18 months ago if that's what you are asking.

This redis instance is a replica BTW, its master is still on
26827:M 18 Oct 2018 19:42:13.517 * <ft> RediSearch version 1.4.1 (Git=v1.4.1-rc2-3-gcd66d601)

[2019-10-24 23:54] dwedwick opened #967 "Crash with Garbage Collection Enabled"
When I enable garbage collection (i.e. do not turn it off), Redis crashes periodically throughout the day.  When I indicate NOGC, RediSearch and Redis work without fail.

This is similar in symptoms to the other issue "Redis 5.0.5 crashed by signal: 11 - using RediSearch #905"

Partial log is below.  The full log and example dump.rdb file is here (kindly let me know when I can remove it after it's

[2019-10-24 23:56] mnunberg commented on #967
The stack trace is needed..

[2019-10-25 01:19] dwedwick commented on #967
I put it in the tarball on the Google drive - can you get it from the dump file?

[2019-10-25 17:03] dwedwick commented on #967
Sorry to not be clear - the file on Google Drive has the dump file as well as the redis log file that shows the error.

No failures in 48 hours after turning off garbage collection.

=== REDIS BUG REPORT START: Cut & paste starting from here ===
13444:C 23 Oct 2019 12:44:10.468 # Redis 5.0.5 crashed by signal: 11
13444:C 23 Oct 2019 12:44:10.469 # Crashed running the instruction at: 0x5485ec
13444

[2019-10-27 08:19] MeirShpilraien commented on #967
@dwedwick can you also share you redisearch.so binary?
thanks.

[2019-10-28 13:02] mnunberg commented on #919
So, the actual issue (at the head of this issue) is solved. I believe there are other issues for the crashes.

[2019-10-28 13:02] #919 closed

[2019-10-28 16:29] filipecosta90 opened #969 "enable limiting the results of FT.SPELLCHECK"
Considering the current we [FT.SPELLCHECK](https://oss.redislabs.com/redisearch/Commands.html#ftspellcheck) accepted options we are not able to limit the amount of returned results. A simple command can return several hundred of results thus putting a lot of pressure on the network and redis himself.
Sample:
[code]
Resulting in 10697 Bytes TX for one single command.

[2019-10-28 18:50] mnunberg commented on #967
How are you building redisearch?

[2019-10-28 19:02] dwedwick commented on #967
I put the binary and the output of the build process in this file:

https://drive.google.com/open?id=1DL7xMQvIkCGg3M5iLx7KtrMX1Wr_GjCH

For building, I'm just running make inside the top directory.

[2019-10-28 21:43] mnunberg commented on #967
@dwedwick Are you familiar at all with CMake? can you build it without optimizations?

[2019-10-28 21:45] mnunberg commented on #967
Also, does this crash your server? from what I can tell, this should only happen in the child gc process, so your server should remain in tact.

[2019-10-28 22:54] dwedwick commented on #967
I think the server stays running.

I'm not familiar with using cmake.  I just did:
`cd build
cmake .. -DCMAKE_BUILD_TYPE=DEBUG
make `

If I should do something different, please let me know.

[2019-10-28 22:57] mmasouras commented on #959
Here are two more stack-traces from last night. I do not really know if these were caused by adding/removing docs as stated in this bug.

Might be related to #967

------ STACK TRACE ------
EIP:
/usr/local/bin/redis-server *:6379(je_free+0x347)[0x563b29e51637]

Backtrace:
/usr/local/bin/redis-server *:6379(logStackTrace+0x5a)[0x563b29de473a]
/usr/local/bin/redis-server *:6379(sigsegvHandler+0xb1)[

[2019-10-28 23:05] mmasouras commented on #959
One more - this one is from the rtest server that I have shared login information with you. Note that this server does nothing else other than running the redis replica - i.e. there are no requests coming in to this server. Right now redis is pegging the CPU without writing anything in the logs (or serving any requests other than replica).

=== REDIS BUG REPORT START: Cut & paste starting from her

[2019-10-28 23:08] mmasouras commented on #959
Also confirming these are running:
19300:S 28 Oct 2019 04:47:40.734 * <ft> RediSearch version 1.6.4 (Git=v1.6.4)

[2019-10-28 23:10] mnunberg commented on #959
@mmasouras can you enable core dumps in the machine so that we can inspect it when the crash does occur? -- though I don't know if Redis itself would allow it.. it would probably be easier to recompile redis and have it not handle SIGABRT and SIGSEGV. @MeirShpilraien he's using 1.6.4 i.e. post-pipe-fix

[2019-10-29 04:15] mmasouras commented on #919
I tested this fix and it worked. Thank you.

[2019-10-29 04:17] mmasouras commented on #959
I enabled core dumps on that host.

[2019-10-29 10:26] filipecosta90 opened #970 "get STOPWORDS for a specific index"
RediSearch has a pre-defined default list of stop-words and we can alter or completely disable them. After going over the current documentation, I believe there is no reference on how to get the STOPWORDS for a specific index.
This is pertinent information to be able to keep track of since it influences the way we respond to both ingestion and querying.

[2019-10-29 10:34] MeirShpilraien commented on #967
@dwedwick I just was able to reproduce a crash with GC enable. The issue was that at some cases we leave the last block unhanded and point to illegal memory. Funny think, this PR (https://github.com/RediSearch/RediSearch/commit/f15adc32134a1b758782945fd9924beb1a4d5bff) which fix a data lost on GC also fixes this illegal memory issue. If you can test the current master and see if it solves the cras

[2019-10-29 10:35] MeirShpilraien commented on #959
@mmasouras  I just was able to reproduce a crash with GC enable. The issue was that at some cases we leave the last block unhanded and point to illegal memory. Funny thing, this PR (https://github.com/RediSearch/RediSearch/commit/f15adc32134a1b758782945fd9924beb1a4d5bff) which fix a data lost on GC also fixes this illegal memory issue. If you can test the current master and see if it solves the cr

[2019-10-30 02:37] dwedwick commented on #967
All is working perfect - no crashes in the last 12 hours.  I was seeing a crash at least once every two hours or so.

Thanks for resolving the issue.

[2019-10-30 02:37] #967 closed

[2019-10-31 10:35] ashokgit opened #973 "RediSearch Crashes"
Hello all,
My redisearch gets crashed giving the following log below. any help would be very helpful.
....
.O.O.O.O.O.O.23584:M 31 Oct 2019 10:32:50.077 # Background saving terminated by signal 9
23584:M 31 Oct 2019 10:32:50.081 * Starting BGSAVE for SYNC with target: replicas sockets
23584:M 31 Oct 2019 10:32:50.107 * Background RDB transfer started by pid 26701
26701:C 31 Oct 2019 10:32:53.982 #

[2019-10-31 10:36] mnunberg commented on #973
@ashokgit what version are you working with? (should be the first few lines redisearch prints to the logs at startup)

[2019-10-31 10:37] #956 closed

[2019-10-31 10:37] #957 closed

[2019-10-31 13:02] ashokgit commented on #973
27209:M 31 Oct 2019 13:01:12.599 # Server initialized
27209:M 31 Oct 2019 13:01:12.604 * <ft> RediSearch version 99.99.99 (Git=v1.6.0-307-g2a57a9aa)
27209:M 31 Oct 2019 13:01:12.604 # <ft> Upgrade redis-server to use Redis Search's C API
27209:M 31 Oct 2019 13:01:12.604 # <ft> Could not initialize low level api
27209:M 31 Oct 2019 13:01:12.604 * <ft> concurrency: ON, gc: ON, prefix min length: 2,

[2019-10-31 13:04] mnunberg commented on #973
I believe we fixed this last week; please try a fresh checkout from master and see if this fixes your issue!

The version you're using is 2 weeks old.

[2019-10-31 16:57] mnunberg commented on #960
@mmasouras does this seem to be fixed along with #959 ?

[2019-10-31 17:43] mmasouras commented on #960
One of the hosts is still humming after 2+ days.

However, rtest crashed a few hours ago:

24578:S 29 Oct 2019 16:52:55.026 * <ft> RediSearch version 99.99.99 (Git=v1.6.0-349-g6d33b877)

=== REDIS BUG REPORT START: Cut & paste starting from here ===
24578:S 31 Oct 2019 13:58:40.344 # Redis 5.0.6 crashed by signal: 11
24578:S 31 Oct 2019 13:58:40.345 # Crashed running the instruction at: 0x7fbfd449

[2019-10-31 23:32] #973 closed

[2019-11-02 14:02] mnunberg commented on #960
@mmasouras Try the referenced commit and see if that fixes it. Also, I still don't see cores anywhere!

[2019-11-02 14:04] mnunberg commented on #959
I'm going to assume this fixed!

[2019-11-02 14:04] #959 closed

[2019-11-02 22:58] mmasouras commented on #960
So, one of the two hosts has been up for 4 days so far. rtest crashed a couple of days ago though.

I rebuild RS 422f627 and restarted the server. It now also has the same loadmodule as the machine that is doing well:

loadmodule /home/redis/redisearch.so MINPREFIX 1 TIMEOUT 5000 GC_POLICY FORK FORK_GC_RUN_INTERVAL 60 FORK_GC_CLEAN_THRESHOLD 10000

Previously (when it crashed) , it didn't have any

[2019-11-03 10:32] gkorland opened #975 "Add support for Phonetic match"

[2019-11-03 10:49] #975 closed

[2019-11-04 14:09] #960 closed

[2019-11-05 10:47] ebinezar commented on #947
Can you guys, update the status of this issue ? We are running 1.4.16 version on production, around 100k users are accessing it daily and it never fail to crash once in a day.

[2019-11-05 16:31] MeirShpilraien commented on #947
@ebinezar this is currently under investigation, will update more once we find the root cause of the crash.

[2019-11-11 11:30] glemsom opened #978 "Excessive use of threads, when using many indexes"
It seems when creating a new index, RediSearch will spawn a new GC thread for that index.
This design makes it hard to scale RediSearch for many indexes, as this results in a lot of context-switching.
In our case, the database became unresponsive due to the high load of context-switching. _(eventhough the database has very few queries from our clients)_

**Workaround: Disable GC**

**Reproduce:**

[2019-11-11 11:52] MeirShpilraien commented on #978
@glemsom You are right and we already have an issue to fix it: https://github.com/RediSearch/RediSearch/issues/524

In addition each index have an indexer thread. We plane to put those also on a thread pull.

Till then, If you do not need a GC and you want to avoid an indexer thread also, you can create a temporary indexes. Temporary indexes are created without GC and without indexer thread. You c

[2019-11-11 17:33] mnunberg commented on #954
This should be fixed in current master, since we now return all data from the document, and not the sortables array

[2019-11-11 17:33] #954 closed

[2019-11-12 16:06] mohsintahir opened #981 "optional operator with field does not restrict the result to that field only"
I have an index named `shows` with 2 fields `title` and `description` and I have indexed 2 documents as follows:

document 1: title => 'the foo', description => 'the boo'
document 2: title => 'foo', description => 'the boo'

when I try to search for document with query
`FT.SEARCH shows (@title:the*) ~(@title:the=>{$weight:10;$slop:0;$inorder:true;})  LIMIT 0 50`

It returns document 1 and document

[2019-11-12 16:16] MeirShpilraien commented on #981
Which redisearch version are you using? How did you created the index?

[2019-11-13 10:10] mohsintahir commented on #981
@MeirShpilraien I am using Redisearch version 1.6.3 and I had created index using following command:

"FT.CREATE shows STOPWORDS 0 SCHEMA title text weight 50 description text weight 20"

[2019-11-14 15:26] K-Jo opened #983 "Module configurable override of `MAXIDLE ` of cursor api"
- [x] override on module level, should not change the default 30 seconds
- [x] documentation should clearly state what the impact is of this operation

[2019-11-16 11:02] ethanhann opened #984 "Tag parser returns error when searching for a tag with a value of "a""
This error is occuring on the latest RediSearch docker image (RediSearch 1.4.17 / Redis 5.0.6).

Steps to reproduce...

1. Create an index with a tag field `foo`:
[code]

2. Search tag `foo` with value "a" (fails with a syntax error):

[code]

3. Search tag `foo` with value "b" (works as expected):

[code]

[2019-11-18 09:40] mohsintahir commented on #981
Hi @MeirShpilraien, can you kindly guide me ? it has been 6 days since I receive a reply from you people ?

Thanks!

[2019-11-18 09:42] MeirShpilraien commented on #981
Sorry @mohsintahir I just was not able to check it yet, it does look like a bug that we will need to fix. Is it also happened on 1.4.17?

[2019-11-18 13:13] mohsintahir commented on #981
I haven't checked on 1.4.17 but previously I was using 1.4.13 and it was not happening in that version. I switched to redisearch 1.6.3 in order to have utilize this fix https://github.com/RediSearch/RediSearch/issues/884

[2019-11-18 13:20] MeirShpilraien commented on #981
@mohsintahir this fix is included in 1.4.16 and above ..

[2019-11-18 13:50] mohsintahir commented on #981
Yes you are right but I am unable to recall the proper reason of using 1.6.3. I had to use 1.6.3 due to some specific reason which I don't remember at the moment. Any chances to fix https://github.com/RediSearch/RediSearch/issues/981#issue-521644293 and have in 1.6.x ?

[2019-11-18 13:55] MeirShpilraien commented on #981
@mohsintahir sure we will fix it, but knowing whether or not its reproducible on 1.4.16/17 might help to identify the problem quicker. I will check it myself, just thought you might already checked and I do not need to.
Will update as soon as I will have the fix.

[2019-11-18 14:41] mohsintahir commented on #981
@MeirShpilraien I have checked by myself and it is not reproducible on versions 1.4.16/17.

[2019-11-18 15:16] K-Jo commented on #877
Conclusion is to make former `SAFEMODE` the default in 1.6 and to allow to configure `CONCURRENT_WRITE_MODE`

[2019-11-20 17:52] mnunberg commented on #984
This happens on 1.6 as well. Interesting.

[2019-11-20 19:03] mmasouras opened #987 "crash - maybe related to numeric indexing"
=== REDIS BUG REPORT START: Cut & paste starting from here ===
10443:S 18 Nov 2019 03:17:51.134 # Redis 5.0.6 crashed by signal: 11
10443:S 18 Nov 2019 03:17:51.134 # Crashed running the instruction at: 0x7f8336699705
10443:S 18 Nov 2019 03:17:51.134 # Accessing address: 0x28
10443:S 18 Nov 2019 03:17:51.134 # Failed assertion: <no assertion failed> (<no file>:0)

------ STACK TRACE ------
EIP:
/h

[2019-11-20 19:03] mmasouras commented on #987
10535:S 18 Nov 2019 16:35:55.969 * <ft> RediSearch version 99.99.99 (Git=v1.6.0-346-g3995dfcc)

[2019-11-21 09:08] kkmuffme commented on #315
@dvirsky when will syndel be added?

[2019-11-21 14:13] mnunberg commented on #987
This seems to have already been fixed in 422f627f79da928f14bebb9298b8f2f993c90821. I do not know how I missed this!

[2019-11-21 14:13] #987 closed

[2019-11-21 18:22] mmasouras commented on #987
There have been a lot of fixes related to crashes recently. What is the best release to grab and test to achieve this?
https://github.com/RediSearch/RediSearch/releases

 Are all these fixes in 1.4.18?

In another thread I am asked to: "Can you pls check with v1.6.4 to verify that the crash has been fixed?"

I can't find 1.6.4 in the releases page either.

[2019-11-23 10:35] kkmuffme opened #988 "FT.SYNDEL and FT.SYNREMOVE"
While the synonym API has adding commands, the removal commands are still missing but are important in my opinion. The reason is that mistakes happen and incorrect synonyms should be removable after adding them.

**Proposal:**
1) FT.SYNDEL (alternative: FT.SYNDELETE)

this will delete a synonym group:

`FT.SYNDEL <index name> <synonym group id>`

It's the equivalent to FT.SYNADD just for deleting.

[2019-11-23 11:22] kkmuffme commented on #978
+1

[2019-11-23 21:02] gkorland commented on #987
Yes.

https://github.com/RediSearch/RediSearch/releases/tag/v1.6.4

[2019-11-25 14:01] MeirShpilraien commented on #983
PR:
https://github.com/RediSearch/RediSearch/pull/985

[2019-11-27 14:43] dagorv opened #990 "Module failed to load: Undefined symbol "siphash""
Trying to deploy Redisearch from branch 1.4 (1.6 and master branch "make" fails) to Redis 5.0.5 (Same with Redis 4.0.14) on FreeBSD 12.1-RELEASE-p1 as found here: https://oss.redislabs.com/redisearch/Quick_Start.html

[code]

[2019-11-28 07:17] dagorv commented on #990
More info about "cmake" and "make"

[code]
[code]
[code]
[code]

[2019-11-28 07:53] dagorv commented on #990
Last working commit is `30a7e0c25b5176c8bc99067a118d5be1ed576944` (#719) from 5th June. Issue starts with commits after that. `e106d861d1dd1117fde0c00a6b792cfb4a3b4d90` and `d53ed915763513de215abb9569b06ecc77e5173c` return `Undefined symbol "siphash"`

Commit d53ed915763513de215abb9569b06ecc77e5173c and e106d861d1dd1117fde0c00a6b792cfb4a3b4d90:
[code]

Commit 30a7e0c25b5176c8bc99067a118d5be1ed5769

[2019-11-28 19:12] filipecosta90 opened #992 "Crash on Module fork on `FGC_childScanIndexes`"
while doing some preparation for ADD-UPDATE test on RediSearch we've hitted deterministically the same crash on RediSearch while doing FT.ADD and FT.ADD with REPLACE variations.
We've used the latest unstable branches both from redis, redisearch, and the load generator as well, with the following commit hashes:
- redis - a40669893e29fb0c95b8d12315fb48c82cee2b1d
- redisearch - b9d4a24b86a8ab4828878

[2019-11-29 13:11] MeirShpilraien commented on #810
Reproducible with this script:
[code]

[2019-11-29 17:53] mohsintahir commented on #981
@MeirShpilraien any update regarding this bug ? Thanks!

[2019-11-30 09:26] MeirShpilraien commented on #981
@mohsintahir not yet, will update us soon as we fix it.

[2019-12-01 16:16] MeirShpilraien opened #993 "FT.DEL command are not replicated to the slave correctly"
On 1.4 branch
module.c:528:
`RedisModule_Replicate(ctx, "cv", RS_DEL_CMD, "cs", sp->name, argv[2]);`
While it should be:
`RedisModule_Replicate(ctx, RS_DEL_CMD, "cs", sp->name, argv[2]);`

- [x] fix the issue
- [x] write tests for future verification
- [x] make sure fix backported to 1.6

[2019-12-02 11:57] MeirShpilraien opened #994 "Memory leak in indexing error"
Reproduce on 1.4 branch:
[code]

The tags array (`fdata->tags`) of the documents that failed on the ft.add command is leaking in  this case.

[2019-12-02 12:01] MeirShpilraien opened #995 "Number of documents on the inverted index are not decreased correctly on FORKGC"
Causing numeric tree cardinality issues and wrong stats. Also effecting the FT/IDF calculation.

[2019-12-02 12:03] MeirShpilraien commented on #994
This issue also might cause master slave inconsistency because on slave all the updates are successful.

[2019-12-02 12:06] MeirShpilraien opened #996 "Master slave inconsistancy"
Two concurrent updates on master might come on the same phase of the even loop. Both will go to be indexed on different thread and one of them will failed. On slave both will successes and we will get master slave inconsistency.
See https://github.com/RediSearch/RediSearch/issues/994 for reproduction.

[2019-12-02 12:08] MeirShpilraien opened #997 "Forkgc do not updates the unique sum on numeric nodes"
Cause bad split values and corruption in the numeric tree.

[2019-12-02 12:15] MeirShpilraien opened #998 "Sortable allocating too much memory"
The sortable array is allocating more memory then it needs:
sortable.c: 16 (1.4 branch)
current code : `RSSortingVector *ret = rm_calloc(1, sizeof(RSSortingVector) + len * (sizeof(RSValue)));`
Should be : `RSSortingVector *ret = rm_calloc(1, sizeof(RSSortingVector) + len * (sizeof(RSValue*)));`

[2019-12-02 12:16] MeirShpilraien opened #999 "FORK_GC unneeded check for INT_MAX"
GC is checking if buffer size is bigger then MAX_INT, this check should be remove:
fork_gc.c: 89 (1.4 branch)
[code]

[2019-12-02 17:19] filipecosta90 opened #1001 "Crash v1.6.0-373-gac16a4d8 on RM_CloseKey within FGC_parentHandleNumeric"
Using redisearch ac16a4d898650a9dd07f01d938a0a414ce3441c4 and redis v5.0.7.
with high update rates ( `FT.ADD` with `REPLACE` ) v1.6 Crashes redis-server on RM_CloseKey within FGC_parentHandleNumeric:

[code]

[2019-12-03 01:14] mnunberg commented on #999
Seems to be a leftover; we use SIZE_MAX as a constant in 1.6

[2019-12-03 01:16] mnunberg commented on #998
needs to be picked to 1.6 as well..

[2019-12-03 01:19] mnunberg commented on #997
This seems to be an overall issue in numeric gc; not only in fork gc. Should we fix in default 'legacy' mode?

[2019-12-03 01:20] mnunberg commented on #994
I believe this memory leak is fixed in 1.6

[2019-12-03 01:21] mnunberg commented on #995
Not an issue on 1.6

[2019-12-03 02:19] mnunberg commented on #996
I feel we can bypass all of this entirely by simply encoding the token information in the command rather than performing tokenization over again.. I think this might actually have additional benefits

[2019-12-03 02:39] Jonarod commented on #718
Actually I am confused as to why `PHONETIC` has a `dn:fr` property while RedisSearch cannot distinguish `vélo` from `velo`, does that makes sense?

Here is a simple test:

without PHONETIC
[code]

WITH PHONETIC:
[code]

I don't get why searching `velo` doesn't give more weight to the exact matching document `id_2`...
Same thing while searching for `vélo`, why is priority given to the fewer letter

[2019-12-03 03:23] mnunberg commented on #997
also i'm not sure how this causes corruption. the split value only helps to make a balanced tree; once the tree is created, the unique_sum value is no longer touched.

[2019-12-03 18:38] filipecosta90 commented on #992
@mnunberg new crash around `periodicCb` within the FGC thread

[code]

[2019-12-03 18:43] filipecosta90 commented on #992
If we keep the benchmark running the command rate drops from 7-8K docs/sec to ~100 docs/sec and decreasing

![image](https://user-images.githubusercontent.com/5832149/70079426-a3118e00-15fc-11ea-84f4-c99fef1da9fe.png)

[2019-12-03 18:53] filipecosta90 commented on #992
Adding cpu, doc, and gc plots for reference

<img width="1664" alt="Screen Shot 2019-12-03 at 6 45 52 PM" src="https://user-images.githubusercontent.com/5832149/70080267-28497280-15fe-11ea-8ea3-c984ca679421.png">
<img width="1628" alt="doc info" src="https://user-images.githubusercontent.com/5832149/70080269-28497280-15fe-11ea-8349-be14fb6a5146.png">
<img width="1674" alt="gc graphs" src="https://

[2019-12-04 14:00] filipecosta90 commented on #1001
confirmed that on v.1.4.18 this issue does not exists.

[2019-12-09 08:17] MeirShpilraien opened #1007 "Cherry pick to 1.6 if needed"
https://github.com/RediSearch/RediSearch/pull/1006

[2019-12-09 08:57] filipecosta90 opened #1010 "perf - FT.ADD - Numeric Fields - `NumericRange_Add` taking 76% of "time" spent on redisearch.so"
# Higher “Self” Cost - Numeric Fields Ingestion redisearch.so
( costs relative strictly to redisearch.so portion of time ) - 76.07%

![image](https://user-images.githubusercontent.com/5832149/70421036-e20e6c00-1a60-11ea-9548-d30d3c098a13.png)

# NumericRange_Add cost to source code mapping

![image](https://user-images.githubusercontent.com/5832149/70421148-28fc6180-1a61-11ea-9429-e285a77a163c.png

[2019-12-10 14:03] mnunberg commented on #981
I'm wondering if "the" is actually a stopword, and therefore ignored..

[2019-12-10 14:08] mnunberg commented on #981
[code]

[2019-12-10 14:08] #981 closed

[2019-12-10 14:08] mnunberg commented on #981
This should have been fixed in some prior commit. You should upgrade to a newer version of 1.6

[2019-12-10 15:38] filipecosta90 commented on #992
# Steps:

setup:
[code]
load with no crash:
[code]
load with abnormal behaviour:
[code]

# Sample output of entire process:

## build dataset
[code]

## load at 0% update rate

[code]

## load at 90% update rate
[code]

[2019-12-11 11:25] mahemoff opened #1012 "Get aliased index (ALIASGET)"
Is there a way to see the underlying index an alias maps to? Like a `FT.ALIASGET` functionality?

It's needed to purge a stale index after "cutting over" the alias to point to a fresh index.

[2019-12-11 11:52] #993 closed

[2019-12-11 11:57] MeirShpilraien commented on #1012
You can use 'ft.info <alias>' and you will get the index name there ..

[2019-12-11 12:26] dme-development commented on #947
We were finally able to upgrade to v1.4.18, but we noticed that Redis still keeps crashing. I've send over the details to @MeirShpilraien .

[2019-12-11 13:24] mahemoff commented on #1012
Thanks!

[2019-12-11 13:24] #1012 closed

[2019-12-11 14:26] mnunberg commented on #1010
@filipecosta90 A better approach might be to simply retrieve the value of the array length and use it as a local variable rather than recalculate it each time.

[2019-12-11 14:29] #1007 closed

[2019-12-11 19:20] MeirShpilraien commented on #947
1.4.18 crash report:
[code]

[2019-12-11 19:24] MeirShpilraien commented on #947
Running with FORKGC

[2019-12-11 19:28] MeirShpilraien commented on #947
@dme-development I see you have expiring keys, could it be that you accidentally set expiration on one of RediSearch internal keys ?

[2019-12-11 19:31] dme-development commented on #947
@MeirShpilraien Also: running in SAFEMODE.

We have some expiring keys, but all of them are not indexed by RediSearch. We don't put a TTL on the objects/keys that are in the index.

[2019-12-16 09:02] gkorland opened #1014 "Refactor numeric index code. It's kinda messy and difficult to maintain."

[2019-12-16 09:04] gkorland commented on #764
ref #633 #473

[2019-12-16 13:29] #941 closed

[2019-12-16 16:42] paulflo150 opened #1016 "FT.AGGREGATE performance problem"
I am having an issue in Redis Enterprise Cloud (redis 5.0.4/ redisearch 1.4.6) where FT.AGGREGATE takes much longer than FT.SEARCH (about 165k records take 1 second to return, 500k take 3 seconds)

`"FT.AGGREGATE" "trips_hash_index" "(@VisibleToCompanyIDs:{2}) (@TripMainTypeID:{6|4|1|3|2}) (@TripStatusID:{1|5|4|6|3})" "SORTBY" "8" "@CreatedDateTimeUTC" "DESC" "@TripStartDate" "ASC" "@TripEndDate"

[2019-12-16 17:13] filipecosta90 commented on #1016
hi there @paulflo150, following what we've discussed on the group we'll try to understand why the `MAX` argument has no effect on performance, considering that the only difference between the `FT.SEARCH` and `FT.AGGREGATE` is the group by clause. We'll investigate further and update you back ( and assess if updating for a newer RS version will solve the issue as well ).

## ft.info output

[code]

[2019-12-17 14:06] filipecosta90 commented on #992
@mnunberg this issue still happens on master:
redis 5.0.7 ( OSX with jemalloc and gnu's gcc-9 )
redisearch 921ae864ab32bae2fa4c7d8defff0b73ab7f6032

[code]

# steps to reproduce
## generate the dataset ( see dataset description )
[code]

## ingestion
[code]

[2019-12-17 20:15] paulflo150 opened #1017 "Open source and Enterprise Cloud versions do not seem to match"
Hello,
I am using Redis 5.0.4/ Redisearch 1.4.6 in both local machine and enterprise, and FT.AGGREGATE works differently - how would I go about figuring out which open source version matches the enterprise one?

Here is an example:

1. SORTBY returns the TripID just fine without any APPLY statements, which is not the case in my local environment.
2. There is no count returned by the enterprise ver

[2019-12-17 20:44] mnunberg commented on #1017
If you want a field returned in FT.AGGREGATE, your only sure bet is to use `LOAD`. The reason why the enterprise version returns the field is a small bug.

[2019-12-18 00:28] filipecosta90 commented on #992
@mnunberg results on the v1.6.0-375-g6c0cf657 ( fix-992 )
[code]

[code]

[2019-12-18 03:53] ghdi opened #1018 "RediSearch 'highlight' function causes segfault (v1.4.19)"
Hi,

I am using redis v5.0.7 with redisearch  v1.4.19, the latter build from source, and I am consistently experiencing the following issue:

1) Executing search queries that use the 'highlight' functionality may cause redis to come crashing to a halt with a segfault.
2) Some search queries that use the 'highlight' functionality do not cause a segfault and if such a query does not cause a segfault

[2019-12-18 12:54] gkorland commented on #1018
I tried to recreate it but, it seems to work OK.
Can you please share a sample document?

[2019-12-18 17:41] filipecosta90 commented on #992
adding the cpu time flamegraphs for both the "normal" behaviour and the one originating the crash:
# FT.ADD

<img width="1099" alt="Screen Shot 2019-12-18 at 4 26 46 PM" src="https://user-images.githubusercontent.com/5832149/71109660-96c12f80-21bd-11ea-8d48-67e265247b19.png">

# FT.ADD with REPLACE

<img width="952" alt="Screen Shot 2019-12-18 at 4 25 32 PM" src="https://user-images.githubusercont

[2019-12-19 10:19] K-Jo commented on #877
fixed by: #1015

[2019-12-19 10:19] #877 closed

[2019-12-19 10:19] K-Jo commented on #983
docs in: #1015

[2019-12-19 10:19] #983 closed

[2019-12-19 15:56] MeirShpilraien opened #1021 "cherry pick to 1.6"
https://github.com/RediSearch/RediSearch/pull/1020

[2019-12-19 16:21] #1021 closed

[2019-12-19 16:22] #997 closed

[2019-12-19 16:23] #1001 closed

[2019-12-19 16:23] #992 closed

[2019-12-19 16:33] mnunberg commented on #1010
https://github.com/RediSearch/RediSearch/pull/1002/files

[2019-12-21 03:47] ghdi commented on #1018
I have attached a dump.rdb that consistently produces the issue on my end.

No segfault:

ft.search 'r:g' 'bukit unggul' withscores limit 0 50

Segfault:

ft.search 'r:g' 'bukit unggul' withscores limit 0 50 highlight fields 3 name localName aliases

Hope this helps.

Regards,

Edwin
[dump.rdb.gz](https://github.com/RediSearch/RediSearch/files/3991032/dump.rdb.gz)

[2019-12-22 16:39] MeirShpilraien commented on #947
@dme-development we just tagged 1.6.5, there are many forkgc fixes there, is it possible for you to try it?

[2019-12-23 06:28] dme-development commented on #947
@MeirShpilraien I think this is not an option. We're seeing these crashes only in our production environment where there is loads of traffic & concurrent operations. Since we are still running 1.4.*, my CIO will not approve testing the 1.6.* in production. This is also still a RC, I believe?
I can test it on our other environments, but it would be impossible to see if the crashes still occur.
You

[2019-12-23 09:56] MeirShpilraien commented on #947
@dme-development will backport to 1.4.20, its already on this PR: https://github.com/RediSearch/RediSearch/pull/1022

[2019-12-24 16:43] srmarjani opened #1026 "problem in query on numeric field"
Hi
1.I add below index to redisearch
[code]
2. add 2 doc to my index
[code]
Query on TEXT field work as expected
[code]
BUT query on NUMERIC field does not work properly
[code]
As you see It returns no document

And when I using numeric filter
[code]
The above error is returns.

What is the problem of my query on numeric fields?
Thanks

[2019-12-24 16:48] gkorland commented on #1026
[code]

[2019-12-24 16:55] srmarjani commented on #1026
Hi @gkorland
Thanks for quick reply.

what about the first query?

[code]

[2019-12-24 16:58] gkorland commented on #1026
`@number` is a numeric field so you have to use numeric filter

[2019-12-24 17:00] srmarjani commented on #1026
How can I have equal filter on numeric field?

[2019-12-24 17:03] srmarjani commented on #1026
I found it.
[code]
Thanks @gkorland

[2019-12-24 17:09] #1026 closed

[2019-12-25 16:35] paulflo150 commented on #1016
Hi @filipecosta90
have you been able to reproduce this at all?

Thanks!

[2019-12-29 09:06] ashtul commented on #1018
@ghdi
Hi Edwin,
Could you please share the FT.CREATE and FT.ADD commands you were using to create the dump file.
Regards,
Ariel

[2019-12-30 11:15] ghdi commented on #1018
Ariel,

I use redisearch-php to create/add.

If I send you the contents of the 'arguments'  array that is passed on to predis' rawCommand() method for both the create and add command, would that be of any help? (The dump of the search index I sent you only contains 1 record)

Out of curiosity, were you able to recreate the issue using the dump?

Regards,

Edwin

[2019-12-30 12:59] ashtul commented on #1018
@ghdi
Yes, we were able to recreate the bug with the dump.
In addition, if you search only for `Bukit` then it highlights the wrong fields but doesn't cause a crash.

[2019-12-31 19:19] ashtul opened #1032 "StopWordList may cause highlight crash"
Similar to #1018 , words in the StopWordList may cause a crash when highlight.
A condition at tokenize.c:102 `if (StopWordList_Contains(ctx->stopwords, normalized, normLen)) {`
corrupts offsets list.

[2020-01-02 16:39] danialfarid opened #1035 "Allow top N for aggregate"
Following this question: https://stackoverflow.com/questions/59530799/redisearch-aggregate-return-top-5-of-each-group

It would be great to have the ability to return only the top N number of result just like `FIRST_VALUE` but with `TOP_N`.
I need to return more than one value from the sorted items in the group and currently there is only `TOLIST` which will return them all and is not practical fo

[2020-01-02 20:52] MeirShpilraien commented on #947
@dme-development We just released 1.4.20, can you give it a try?

[2020-01-08 07:34] dme-development commented on #947
@MeirShpilraien Bad news: still crashing on 1.4.20

[code]

[2020-01-09 09:22] mnunberg commented on #1035
How long is too long? Perhaps we can provide a `LIST_TRIM` or similar which would operate on the output of `TOLIST`?

[2020-01-09 09:23] #1018 closed

[2020-01-09 09:23] #1032 closed

[2020-01-09 11:21] danialfarid commented on #1035
Yes I think that would work if the internal processing/time cost of FIRST_VALUE and LTRIM 1 would be about the same. But since we have FIRST_VALUE it seems natural to have FIRST_N_VALUES too

[2020-01-10 13:34] djbokkeman opened #1041 "Max fields for aggregate"
Currently we are binded with a max of 128 text fields for index. We would love more for filtering (aggregation). Right now we try to solve it with running multiple indexes but this is not ideal.

Is it possible to increase the fields for just aggregation?

Ps. Great work so far!

[2020-01-10 20:38] mnunberg commented on #1041
You can create more fields that are SORTABLE NOINDEX. You are limited to 128 max indexed text fields, though

[2020-01-12 00:24] filipecosta90 commented on #1016
hi there @paulflo150 , can you provide an rdb so that I can reproduce with more ease?
kind regards,

[2020-01-12 01:34] paulflo150 commented on #1016
@filipecosta90: will it take another month for you to respond if I do? I thought the whole point of the enterprise subscription was to receive help when needed?

[2020-01-12 09:15] gkorland commented on #1016
@paulflo150 for enterprise support please use the support official platform https://support.redislabs.com/

[2020-01-13 13:46] gkorland commented on #922
@mnunberg is it still relevant?

[2020-01-13 13:46] mnunberg commented on #922
Yes

[2020-01-13 14:38] gkorland opened #1042 "Improve the return value protocol overhead on FT.AGGREGATE"
avoid return the field name on every value

[2020-01-13 15:00] K-Jo commented on #994
Is fixed, @MeirShpilraien

[2020-01-13 15:31] K-Jo opened #1043 "Ability to run Fork GC in a configurable thread pool"

[2020-01-13 18:27] mahemoff opened #1044 "Can't build 1.6.5 (Makefile:3: deps/readies/mk/main: No such file or directory)"
I'm trying to build v1.6.5. It looks like the build process has changed recently, and it's not entirely clear if I'm doing this right, but I simply ran `make build` based on the docs, and got this error.

[code]

[2020-01-13 18:38] mnunberg commented on #1044
This is due to submodule dependencies added in the latest version. Do `git submodule init && git submodule update`

[2020-01-14 10:12] mahemoff commented on #1044
That worked, thanks. I was using the releases like before, but I see the docs mention `git clone --recursive`, so it shouldn't cause issues for others.

[2020-01-14 10:12] #1044 closed

[2020-01-14 21:10] dme-development opened #1045 "Inconsistent search results in v1.4.20"
We have a Redis setup where we have one master and two slaves. In order to test a previous issue with Redis crashing, we upgraded one of both slaves to v1.4.20, the other one is running 1.4.16.

Now when I do the same wildcard search on both slaves, I get different inconsistent results:
[code]

I'm sure that the last searchresult is wrong, because when I do a more specific query on that same insta

[2020-01-15 06:42] dme-development commented on #1045
After dropping & recreating the index, the results seem ok again.
Could this behaviour be caused because the RediSearch module was upgraded only on one slave?

Is there any way to detect master slave out of sync issues on the index? And when they occur, get them in sync again without dropping and recreating the index?

[2020-01-15 08:12] mnunberg commented on #1045
I cannot see why the master and slave would be out of sync in this scenario, however,

I'm sure that the last searchresult is wrong, because when I do a more specific query on that same instance, I get more results then the total when doing the wildcard search, eg:
[code]
 is wrong. The asterisk query might be limited by `MAXEXPANSIONS` and would therefore not necessarily include `Audi` in the exp

[2020-01-17 08:56] djbokkeman commented on #1041
Hi @mnunberg, Thanks for the info. I think we will stick to multiple indexes. We need 1000+ possible filters and are expanding fast.

[2020-01-17 08:56] #1041 closed

[2020-01-17 11:53] mohsintahir opened #1046 "Field weights while searching"
Can Redisearch team kindly extend Redisearch `SEARCH` command so that we can specify `Fields weights` at the time of search too ? I know we can specify `Fields Weights` at the time of creating an index but it would be very nice if we could specify field weights (which overrides the weights given while creating an index) while searching too.

Use Case:

Let say we have an index name ''books" with f

[2020-01-17 12:21] mnunberg commented on #1046
This is already possible using the `=> $weight` attribute syntax, however you need to be clever with how you craft your query. Maybe something like....

[code]

Basically you'd need to make an OR query with the exact term for each field, but with varying weight for each clause. I do think that we could benefit from an explicit syntax for this (and it would also be faster!), but am at a loss for wh

[2020-01-17 16:25] mohsintahir commented on #1046
Hi @mnunberg, Thank you for considering this suggestion as enhancement.

I have tried using OR and supplying required weights but the result it gave me was totally unpredictable.

I had several test books in my Redisearch with following fields indexed:

book1:
   title: Billy on earth
   synopsis: billy on earth is a new book exploring the environment in the billy era.
   author: billy on earth

[2020-01-17 20:34] MeirShpilraien commented on #1045
@dme-development did you run the same query on master? what is the result? We had an issue where ft.delete was not replicated to slave and we only fixed it on 1.4.19 so I believe your old version slave was not sync with the master and your new version slave was sync. It is also explain why after recreating the index the problem was solved.

The differences in the results between the specific query

[2020-01-18 08:08] dme-development commented on #1045
@MeirShpilraien when I perform the same request on master & slaves now:
MASTER
redis1.4.11:6379> FT.SEARCH idxCachedAuctionItem "*" LIMIT 0 0
1) (integer) 5990

SLAVE 1
redis1.4.16:6379> FT.SEARCH idxCachedAuctionItem "*" LIMIT 0 0
1) (integer) 14760

SLAVE 2
redis1.4.20:6379> FT.SEARCH idxCachedAuctionItem "*" LIMIT 0 0
1) (integer) 11845

Please note that master is even running an older version.

[2020-01-21 12:15] MeirShpilraien commented on #1045
@dme-development as I said we have a bug that ft.del is not replicated, this bug is on master so the master does not replicates the ft.del commands to slave. You need to upgrade the master to solve it.

Regarding the MAXEXPANSIONS, the more you increase the worst the performance will get (and you will be able to perform less queries per second). So it really depends on your latency and throughput

[2020-01-22 08:12] dme-development commented on #1045
Thanks for the comments. Upgraded all three instances to v1.4.20 and now the results seem aligned. Closing this issue.

[2020-01-22 08:12] #1045 closed

[2020-01-26 11:46] gkorland opened #1050 "Add support for Query Cache and Query Parameterization"

[2020-01-26 15:58] lipoiq commented on #904
Can u help me? I use PHP

[2020-01-27 05:16] MeirShpilraien commented on #904
You are using the oss version right? Do you have RedisGears installed? If not follow this https://oss.redislabs.com/redisgears/quickstart.html#build. Let me know when you have RedisGears and RediSearch up and running. For any issues let me know.

[2020-01-27 14:36] #994 closed

[2020-01-28 22:11] yanivhershkovich opened #1055 "Log when a query times out"
By default, when a search query times out, partial results are returned to the client.
This may look to one as inconsistent search results.

Currently, there's no indication when a query times out unless the behavior is changed from returning partial results to failing the query.

This issue is a request to add logging of timed out queries so it will be possible to verify that a timeout was the ca

[2020-01-29 12:32] MeirShpilraien commented on #1055
@yanivhershkovich I think a better idea is to expose the number of times a timeout occurred on ft.info command. What do you think?

[2020-01-29 18:31] yanivhershkovich commented on #1055
@MeirShpilraien Having a counter is nice but without timestamps in logs, it will be difficult to identify when it happened and how relevant the counters are.

[2020-01-29 19:35] MeirShpilraien commented on #1055
Logging about it each time might explode the log file. How about a counter (first thing to check when there is a suspicious) and a log message in log level debug. If you see the counter is more then 0 you can set log level to debug and check the assumption.
How does it sounds?

[2020-02-04 15:39] gkorland opened #1058 "Avoid creating indxer thread in none conurrent mode"

[2020-02-04 15:40] gkorland opened #1059 "Avoid creating GC thread for each index"

[2020-02-04 22:21] mleczakm opened #1060 "Negation of numeric range search is not working"
Tested on latest stable version (1.6.7). Steps to reproduce:
[code]
Since `@num:[(67 68]` is not returning test, it should be returned by negation - but it isn't. I would use range negation (searching over `-inf 67`), but it doesn't need to be true - entry for this field could be optional. ATM I've managed to obey this by setting by default `-inf`/`inf` values and using range negation.

[2020-02-05 11:22] ashtul commented on #970
What would be the best way to expose this?
How about FT.INFO?

[2020-02-05 17:36] #1043 closed

[2020-02-05 18:41] blaaat commented on #367
I really like the SWAPDB command to quickly switch to a new version of a huge dataset. A namespaced index is not sufficient, since clients then need to be aware of this.

So I do think there are use cases for supporting multiple databases.

[2020-02-06 08:18] gkorland commented on #367
@blaaat this is why in RediSearch 1.6 we added the Alias support see: https://oss.redislabs.com/redisearch/Commands.html#ftaliasadd

[2020-02-06 10:22] srmarjani opened #1064 "SORTBY on TEXT fields that have floatStrings"
Hi
Consider below index.

`FT.CREATE  test SCHEMA floatString TEXT SORTABLE float NUMERIC SORTABLE`

then I add 3 docs :

`FT.ADD test doc1 1.0 FIELDS floatString 1.25 float 1.25`
`FT.ADD test doc2 1.0 FIELDS floatString 11.25 float 11.25`
`FT.ADD test doc3 1.0 FIELDS floatString 8.25 float 8.25`

If I query index by sortBy on NUMERIC fields the result is as expected

`ft.search test * SORTBY floa

[2020-02-06 13:58] Nomafin commented on #348
Any update on the schedule of this? Our use case wouldn't even require this exact feature to be as blazing fast as all the other queries are, so even if it's some rugged alpha version, I'd be willing to give it a try.

[2020-02-06 14:57] mnunberg commented on #1064
I think this can be done with aggregations and the `to_number` function, it would look something like..

[code]

I'm not sure if this syntax is correct, but something to this effect.

[2020-02-06 15:34] srmarjani commented on #1064
@mnunberg thanks for your reply.

[2020-02-07 04:20] #1064 closed

[2020-02-07 08:05] #835 closed

[2020-02-07 08:18] ashtul opened #1073 "Change language from char * to enum"

[2020-02-07 17:26] mohsintahir commented on #1046
Hi @mnunberg, Can you kindly tell me about any update on this request enhancement ?

Thanks!

[2020-02-07 18:43] #970 closed

[2020-02-07 22:34] mnunberg opened #1074 "sortable field is truncated to double precision when returned"
If a sortable field is used as a `SORTBY` value in a query, the field is not returned from the document, but is returned in its `double` form; which can sometimes truncate the original value if the original value cannot precisely fit into a `double`.

[2020-02-09 14:55] hamdallah90 opened #1078 "Index Deleted after 1 hour or less"
Hello,

I am using laravel client to connect to redisearch.

I have installed Redisearch at AWS 0.5 GB Instance.

So after creating the index, it's worked fine for some time, but after that, I got  "Index not found"

Thanks

[2020-02-09 14:58] MeirShpilraien commented on #1078
Can you send the redis log file, also can you specify the redis and the redisearch version you are using.
In addition can you sent the create index command you performed?

[2020-02-09 15:21] hamdallah90 commented on #1078
redis-cli 5.0.7
redisearch: 1.6.8

FT.CREATE citiess SCHEMA name TEXT WEIGHT 1.0 ar_name TEXT WEIGHT 1.0 popularity NUMERIC code TEXT WEIGHT 1.0;

27320:M 09 Feb 2020 12:51:31.180 # WARNING: The TCP backlog setting of 511 cannot be enforced because /proc/sys/net/core/somaxconn is set to the lower value of 128.
27320:M 09 Feb 2020 12:51:31.180 # Server initialized
27320:M 09 Feb 2020 12:51:31.180 #

[2020-02-09 15:33] MeirShpilraien commented on #1078
I see that at some point this redis was demoted to slave which means that it flush the data and tried to sync from master unsuccessfully and after it was promoted back to master. Do you use sentinel?

[2020-02-09 15:35] hamdallah90 commented on #1078
What is the "sentinel"?

And how to fix this problem?

Thanks again for your replay.

[2020-02-09 15:39] MeirShpilraien commented on #1078
Are you using a maste slave deployment or is it just a single redis?

[2020-02-09 15:40] hamdallah90 commented on #1078
single redis

[2020-02-09 15:44] MeirShpilraien commented on #1078
So it looks like someone is messing with you...
You probably run with default port and not password and its probably open to the internet.
Please try change the default port and set up a password then let me know if its still happened.

[2020-02-09 15:51] hamdallah90 commented on #1078
Ok thanks,

I will do that :), thanks for your help

[2020-02-10 09:16] hamdallah90 commented on #1078
Fixed, The solution just secures the Redis server with a password.

[2020-02-10 09:16] #1078 closed

[2020-02-10 14:28] mnunberg opened #1079 "SORTBY returns different value than LOAD for same field in aggregate"

[2020-02-10 14:28] mnunberg commented on #1079
[code]

[2020-02-10 15:12] mnunberg commented on #1079
Also, 1.6 should not be returning `t1` as well

[2020-02-12 07:54] gkorland opened #1080 "Add support for Decimal data types"
e.g.
[code]

[2020-02-12 08:17] bailiyang opened #1081 "coredump in v1.6.8"
hello
I got a coredump with RediSearch v1.6.8
try command

"FT.CREATE" "abc" "TEMPORARY" "36000" "STOPWORDS" "0" "SCHEMA" "name" "TEXT" "WEIGHT" "5.0" "uid" "NUMERIC" "NOINDEX"
"FT.ADD" "abc" "123" "1.0" "NOSAVE" "FIELDS" "name" "{\~LiZA\~}" "uid" "123"
FT.SEARCH abc "_\~rsna025\~_*" INFIELDS 1 name LIMIT 0 3

you will get a coredump

i think '~' make RediSearch crash

[2020-02-12 08:19] bailiyang commented on #1081
and same command in v1.4.24
no crash at all

[2020-02-12 09:24] bailiyang commented on #1081
sorry，I read doc and think '~' is not a right query syntax

[2020-02-12 09:49] mnunberg commented on #1081
Reopened, even if you're using the wrong syntax, a well behaved library should not core dump

[2020-02-12 15:27] #1074 closed

[2020-02-16 12:27] mnunberg commented on #1079
Technically speaking this is not a compatibility issue, as it returns the same values as 1.4; however it's not internally consistent as it does not return the actual data within the document.

[2020-02-17 05:42] lionsoul2014 opened #1084 "Advices on tokenizer"
It's so great that RediSearch could be another choice for full-text search since i am an Elasticsearch fans and a search engineer for almost ten years.

I am the author of [Friso](https://github.com/lionsoul2014/friso) and actually Friso could do lot more like:

1. Chinese tokenization for both Simplified Chinese and Traditional Chinese (Simply by convert the Simplified Chinese lexicon to Traditio

[2020-02-17 13:57] mnunberg commented on #1081
I was not able to reproduce it. I did see a trace in msan (but only _once_) where it complained about something in `NewTokenNode`, so I am going to assume some freak ambiguity in the parser?

[2020-02-17 18:14] timmixell opened #1085 "NUMERIC filter appears to stop working"
Greetings,

I posted details and database on the Google Group: https://groups.google.com/forum/#!topic/redisearch/7Ev4rlDwYHU, but as I've continued to poke this particular behavior, I believe it to be either a glaring oversight on my part, or an issue with numeric indexing in Redisearch.

Against a populated index, if I perform a `REPLACE PARTIAL`:

`127.0.0.1:6379> ft.add activeteams:20190730 te

[2020-02-18 07:43] MeirShpilraien commented on #1085
Can you specify redisearch version you are running with? Can you test with 1.6.8?

Also can you give us an rdb that reproduce the issue?

[2020-02-18 07:57] MeirShpilraien commented on #1085
Never mind did not see you already gave an rdb here: https://groups.google.com/forum/#!topic/redisearch/7Ev4rlDwYHU

[2020-02-18 09:45] dmaier-redislabs opened #1086 "UNION with and without brackets"
There was the question if the behaviour without brackets is intended. Here an example:

* Create a schema

[code]

* Insert 2 Documents

[code]

The search without brackets returns only the document 'tst:permit:2' but I would have expected both documents. Here the resulting execution plans:

* Access the execution plans with and w/o brackets:

[code]

It seems that the parser identifies the union

[2020-02-18 09:53] hamdallah90 opened #1087 "Fuzzy search multi words."
Hello my friend,

Thank you for your help,

Please what is the best way to search for a fuzzy match on a string more than 2 words?

Thanks

[2020-02-18 10:55] timmixell commented on #1085
Greetings @MeirShpilraien ,

Running:
Redis 5.0.7 (00000000/0) 64 bit
RediSearch version 1.6.8 (Git=v1.6.8)

I can still reproduce the behavior outlined above against my "teams" index:

[code]

I originally spotted this behavior on a Sentinel cluster. I've since pared back to a vanilla Redis server, with the same result. I can reproduce searching against either `teamID` (5083 in this case), and `e

[2020-02-18 11:13] MeirShpilraien commented on #1085
@timmixell I just tried it on you rdb and it works:
[code]

Are you sure no one is deleting this document? Also get you check if the document exists using `hgetall testing_teamID_5083`

[2020-02-18 11:27] timmixell commented on #1085
Interesting. I could reproduce on two separate servers. The second being a one that only I was working with. I should have been more clear in my steps to repro: I noticed it would occasionally happen after 3-4 search attempts, but always within 10-15 seconds of the ft.add.

As I mentioned above, range searches continue to work, and the document is definitely still there, its just the "equals" sear

[2020-02-18 12:43] timmixell commented on #1085
I need to apologize: when I spun up the separate server to test, I seeded directly from my source of truth, which had a smaller result set than what I shared in the dump.rdb. In my local instance, `teamID` 5083 is the biggest ID in that range, while in the file I shared, ID 5278 is (5083 wasn't in the original dump.rdb I shared, so it was upserted).

It appears that I can only consistently reprodu

[2020-02-18 13:27] MeirShpilraien commented on #1085
Do you know if from the time you get results to the time you don't any other documents was added to the database?

[2020-02-18 13:56] timmixell commented on #1085
The only document modification/access occurring are the ft.add/ft.search commands I've referenced above.

[2020-02-19 13:51] gkorland opened #1088 "Make sure an error Log is written on Assert"

[2020-02-19 14:30] mnunberg commented on #1087
Is there a reason why you can't just use the fuzzy syntax on each word?

[2020-02-19 14:53] hamdallah90 commented on #1087
So this is the best way to do that
%word% %word% %word%  ?

[2020-02-19 18:53] timmixell commented on #1085
I've continued to dig, and I believe there to be an issue with `GC_POLICY FORK`. I cannot reproduce the issue with `NOGC`, nor was I able to with `LEGACY` (thought I don't know how to force a garbage collection here). I had previously been running without any GC configuration (shame on me), but the concern would be the impact any time garbage collection occurs.

Running:
Redis 5.0.7 (00000000/0) 6

[2020-02-19 19:57] MeirShpilraien commented on #1085
Thanks @timmixell its really help, I will check if I can reproduce locally.

[2020-02-20 04:49] mnunberg commented on #1087
that's what i would use.

[2020-02-20 09:45] MeirShpilraien commented on #1085
@timmixell thanks for reporting, I could reproduce and found the underline problem. It was really a bug in the forkgc that update the numeric tree incorrectly.
Fix is on this PR: https://github.com/RediSearch/RediSearch/pull/1089

[2020-02-20 10:17] timmixell commented on #1085
Thank you! Sorry for the initial confusion on how to reproduce.

[2020-02-20 12:50] gkorland opened #1090 "Add capability to filter by min_score"

[2020-02-20 13:20] mnunberg commented on #1090
You mean to exclude documents which don't have a certain score? Interesting..

[2020-02-20 13:26] ashtul commented on #1084
Hello @lionsoul2014

We have plans to expand RediSearch tokenization options but no clear roadmap at the moment. Your offer clearly shows deep understanding of the topic and its use-cases.

We will be happy to get a PR that would fit within our overall design and code conventions. Therefore, we would like to start a design discussion that can take place on this thread. Can this work for you?

Kind

[2020-02-20 13:43] gkorland commented on #1090
`derived score`

[2020-02-21 02:00] lionsoul2014 commented on #1084
@ashtul I've seen the license already, it is OK for me since i will not build any database products. I will ONLY use RediSearch as a Database. And i am sick and tired of all the Cloud Computing Service Provider which just enjoy the commercial convenience of open source software but never contribute anything.

I have not started to study the source code yet but the discussion of roadmap, functions,

[2020-02-21 22:15] gkorland opened #1091 "Add ability to index and filter by DocID"

[2020-02-22 01:48] mnunberg commented on #1091
I don't know what index by docid means here; but we can filter using `INKEYS`

[2020-02-25 10:54] wimdeboel commented on #1079
@mnunberg I see a similar issue with the field label between 1.4 and 1.6.
In below sample you can clearly see a different response for 1.4 on nil values. 1.6 does not even show the label.

The issue we have is that sending it to a group by on the field with a split function gives an error
Value was not found in result.

Do you have any idea if this is the same or a new issue? If it is the same, wh

[2020-02-25 18:14] #922 closed

[2020-02-26 00:13] osokin opened #1093 "fork_gc.c:286:25: error: incomplete definition of type 'struct iovec'"
Hi,

I've just tried to compile version 1.6.8 on FreeBSD 12.1 and it's failed with the following error messages:

[66/189] /usr/bin/cc -DREDISMODULE_EXPERIMENTAL_API -DREDIS_MODULE_TARGET -DRS_GIT_VERSION=\"1.6.8\" -D_GNU_SOURCE -I/usr/home/osa/ports/textproc/redisearch16/work/RediSearch-1.6.8/src -O2 -pipe -fstack-protector-strong -fno-strict-aliasing  -Wall -Wno-unused-function -Wno-unused-varia

[2020-02-27 11:43] joeirimpan opened #1096 "Support for hindi snowball tokenizer"
Can we add https://snowballstem.org/algorithms/hindi/stemmer.html which is available here https://snowballstem.org/dist/libstemmer_c.tgz?
Let me know if [this](https://github.com/joeirimpan/RediSearch/commit/eac3594ce76fe86584ae5805be825f9e81650828) can be a PR?

[2020-02-27 16:18] mnunberg commented on #1096
It certainly seems like it could!

[2020-02-28 14:51] Nomafin opened #1098 "Numeric searches do not work with big numbers"
RediSearch version: 1.6.8 (the official Docker image)

Field definition:
[code]

Event_start value in the document that should be found:
[code]

Query that does not work:
[code]

Query that does work:
[code]

Anything greater in the compare than 1581760800 does not return anything.

The issue persists even if I flush the database and rebuild the query. There are relatively large number of fields i

[2020-03-01 10:19] MeirShpilraien opened #1099 "Trigger coordinator build as part of circle flow"
For each commit make sure coordinator build pass.

[2020-03-01 11:03] mnunberg commented on #1079
@wimdeboel The issues you've brought up are not related to the ticket. Omitting nil fields in the response is by design, in order to save on bandwidth. If we know the field has no data, then why bother sending it along?

As for the query error, I would need the schema and some sample data in order to be able to reproduce it, but it seems like a bug.

[2020-03-01 11:08] mnunberg commented on #1098
The number of fields should have no bearing on the result. Can you provide an rdb file or sample data to reproduce?

I'm also curious if this appears in the 1.4 version. I don't recall any changes in the numeric indexing scheme between the two versions, so I'm unsure.

Recently we discovered an issue related to gc and numeric indexes. Are you updating/deleting any documents?

[2020-03-02 07:50] Nomafin commented on #1098
Here's the rdb file attached. We can't test very easily with the 1.4 version, because our app uses 1.6 specific functionalities and can't be used with 1.4 anymore.

The issue persists even if I do flushdb and rebuild the index straight away. Updating/deleting doesn't make any difference here.

[dump.rdb.zip](https://github.com/RediSearch/RediSearch/files/4274060/dump.rdb.zip)

[2020-03-02 07:52] Nomafin commented on #1098
A working real-life example query:
```FT.AGGREGATE redipress "@post_type:(event) @taxonomy_slug_language:{fi} (@event_start:[1581292800 +inf])|(@event_end:[1581292800 +inf]) @blog_id:(1) @post_status:(publish) @taxonomy_slug_language:{fi}" INFIELDS 11 post_title post_excerpt post_content search_index event_start event_end post_type taxonomy_slug_language blog_id post_status tags LOAD 1 @post_objec

[2020-03-03 14:08] DvirDukhan opened #1100 "RediSearch crash in RedisGraph"
We having a crash in RedisGraph while the optimization `RediSearch_IndexOptionsSetGetValueCallback` is on. The crash tried to free union iterators, which we didn't generate, and they are nested in an intersection iterator.
Reproduce:
https://github.com/RedisGraph/RedisGraph/issues/1000
download the POC project and follow the instructions on the issue description. RedisGraph docker used: 2.0.5

als

[2020-03-04 08:31] gkorland opened #1103 "Add Time/Size limiton Fork_GC run"
Allow to define size/time limit on Fork_GC run

_Optional solution:_
1. Maintain per DocID potential "Garbage" counter
2. Maintain global "Garbage" counter - increased by Doc counter on Doc delete/update
3. Fork_GC should return amount of collected garbage to be decreased from the global counter
4. Fork_GC should stop after timeout or enough garbage collected
5. Fork_GC will start in random locati

[2020-03-04 13:07] mnunberg commented on #1103
Depending on the use case, #5 may make the fork gc run _harder_. Also, 'random' can be either a random term, or a random block. I believe me and @ashtul discussed some of this last week.

[2020-03-04 14:38] #1096 closed

[2020-03-04 15:31] mnunberg commented on #1100
The `ensure_append` macro does the proper assignments, so no need to keep the return value.

[2020-03-04 15:36] mnunberg commented on #1100
@DvirDukhan Can you post the stack trace here? I'll try to run the java monster, and see how far I get. @MeirShpilraien This seems to be related to the GetValue callback, maybe you have an idea?

[2020-03-05 08:31] MeirShpilraien commented on #1100
@mnunberg did you reproduced locally?

[2020-03-06 10:15] gkorland commented on #1103
I guess we can start from the next term after the last term we collected

[2020-03-08 10:50] #1073 closed

[2020-03-10 08:21] hamdallah90 commented on #1087
Thanks

[2020-03-10 08:21] #1087 closed

[2020-03-10 13:44] Nomafin commented on #1098
Any progress on this one? It appears it doesn't concern only the very big numbers, as we tried to circumvent the problem by subtracting a billion from all the timestamps in both inserting and querying them.

We have an event with `event_start` number as 582945200, and ```ft.search redipress "@event_start:[571980000 +inf]"``` does return in but ```ft.search redipress "@event_start:[581980000 +inf]"

[2020-03-10 14:37] Nomafin commented on #1098
Update: we tried downgrading RediSearch and with 1.6.5 (in Docker Hub tags, they apparently differ a bit from the real versions) it works fine, but 1.6.6 it doesn't.

[2020-03-10 16:54] gkorland opened #1117 "Fuzzy search considers only a single field for score"
[code]

[code]

[2020-03-10 19:40] hamdallah90 opened #1118 "Data conflicts between indexes"
Hello,

I am using laravel Scout to import models data.

and after import, the first index 100000 records its working fine,

But after load the second model I found there is a conflict when the document has the same id.

Thanks

[2020-03-10 22:04] gkorland commented on #1118
@hamdallah90 can you please add more extended recreation?

[2020-03-11 11:10] mnunberg commented on #1098
There shouldn't be anything differing in versions here.

I've tried running it from the rdb you provided on the docker images you've mentioned, and it works fine. Can you provide a script which creates the data?

[code]

[2020-03-12 11:35] K-Jo opened #1119 "Ability to efficiently query the available indices and aliases"
Currently solution exists by scanning the keyspace which is inefficient.
By the introduction of schema-based search, this option will become invalid.
In addition there is now way to fetch the existing aliases and which physical indices it points to (can be split up into second issue)
related issue: #622

[2020-03-13 13:04] wimdeboel opened #1121 "Aggregate with Split returns (error) value was not found in results on 1.6"
We have added a 1.6.10 slave on a 1.4 master which syncs fine and most queries work but we have an issue on an aggregate query where we group by on a field on which we execute a split function, the error is : Value was not found in result.

Do you have any idea if this is the same or a new issue? If it is the same, when do you expect a fix?

**Query**
"FT.AGGREGATE" "idxCachedAuctionItem" "*" "LOA

[2020-03-13 13:05] wimdeboel commented on #1121
@mnunberg I have uploaded the rdb file to the SFTP shared by @dme-development previously. If you need new credentials I can set them up for you

[2020-03-13 15:44] osokin commented on #1093
Could you please provide an update.
Thank you.

[2020-03-13 18:02] roorz opened #1122 "FT.AGGREGATE and FT.SEARCH differences"
Hello, we are using version 1.6.10 of RediSearch and are trying to use FT.AGGREGATE to replace FT.SEARCH queries so we can sort by multiple fields since this can't be done yet in FT.SEARCH. However FT.AGGREGATE, behaves differently to FT.SEARCH...

Firstly, the total results number is always 1 unless you GROUPBY one or more fields (in our case we don't want to group by anything.) The total results

[2020-03-13 18:41] mnunberg commented on #1122
Regarding the discrepancies; the first number returned is the number of documents that were scanned in the index prior to returning the first result. Since FT.SEARCH sorts its result set, it will always scan the entire result set and only then emit the first row per sort order. FT.AGGREGATE does not have any default sorting order, and therefore it only goes through the first result before returnin

[2020-03-13 21:36] miroslavp commented on #1118
According to documentation [here](https://oss.redislabs.com/redisearch/Commands.html)

Warning!!!¶

FT.ADD will actually create a hash in Redis with the given fields and value. This means that if the hash already exists, it will override with the new values. Moreover, if you try to add a document with the same id to two different indexes one of them will override the other and you will get wrong r

[2020-03-13 22:13] hamdallah90 commented on #1118
working :) thanks

[2020-03-13 22:13] #1118 closed

[2020-03-14 15:56] hamdallah90 opened #1123 "Sort search result by best match and some field."
Hello,

This is my index "Test"

and this is the data structure
id: 1111, name: "Hello All this is testing", name_2: "Testing", rank: 0.999
id: 1112, name: "Hello Redis this is testing g", name_2: "Redisearch", rank: 0.95
id: 1113, name: "Redis Search saying hello", name_2: "Testing Hello", rank: 0.5
.....

The "rank" field is sortable.

So I want to search for this query "hello oll"

so I have us

[2020-03-15 08:44] MeirShpilraien commented on #1123
@hamdallah90 what do you mean by saying best match?

[2020-03-16 11:16] roorz commented on #1122
Thank you Mark. Yes adding a SORTBY clause resolves the first issue for us. The fields are indeed SORTABLE.

[2020-03-17 11:07] MeirShpilraien opened #1124 "Unsupported sortable type"
v1.6.10

NOINDEX tag fields can not be update on UPDATE PARTIAL with no indexed fiedls

[2020-03-17 11:07] MeirShpilraien commented on #1124
Works on 1.4

[2020-03-17 11:49] ashtul commented on #1117
This bug affects also highlighting and will consider a term if it is the only one.
[code]

[2020-03-17 19:23] jphaugla opened #1125 "1 Million limit on lettuceRediSearchClient.findall"
this works at 1000000 but fails at 10000001
 Set<ProductEntity> products = lettuceRediSearchClient.findAll(1000001).resultStream()

com.rnbwarden.redisearch.LettuceTest > testFindAll FAILED
    io.lettuce.core.RedisCommandExecutionException at LettuceTest.java:184
        Caused by: io.lettuce.core.RedisCommandExecutionException at ExceptionFactory.java:135

this is the code link:
https://github.c

[2020-03-18 14:05] ashtul commented on #1117
Looks like it consider only the first term even if it is a fuzzy term.
[code]

[2020-03-18 22:01] tomindo opened #1129 "cant run redisearch at scale"
we have big perfomance issues when testing redisearch with 500 concurrent requests. Any idea how to scale it ? I know redis itself can do much better than that. Here is some redisearch index:
-memory size 7.26G
-redisearch version 1.6.10
-redis version 4.06
-query :  FT.SEARCH index1 "patio green umbrella @domain:the-house"
The server still has lots of cpu idle, one thing to note is the redis proc

[2020-03-18 22:12] MeirShpilraien commented on #1129
Redis is a single threaded but you can use slaves to scale reads. Have one master and multiple slaves, direct all writes to master, use some load balancing to distributed the reads (searches) between the slaves.

[2020-03-18 22:36] gkorland commented on #1129
@tomindo you might also consider using Cluster
See: https://oss.redislabs.com/redisearch/Administration.html#cluster_support

[2020-03-19 06:57] ashtul commented on #1125
Hi @jphaugla,
Can you please share the `message` and `cause` in the exception?

[2020-03-19 08:14] Nomafin commented on #1098
The data is created by our WordPress plugin RediPress: https://github.com/devgeniem/redipress/

[2020-03-19 09:06] yurymann opened #1130 "Feature request: enable filtering by the exact value of whole text field"
It appears that it's not currently possible to search for documents where a text field exactly equals a certain value. The search will always include documents where the searched value is one of the tokenised terms.

Example:
[code]
This search returns all 3 documents because "aa" is recognised as a term in all of them.
`> FT.SEARCH idx1 @f1:aa`

But in my case I may have thousands of "aa.bb" and

[2020-03-19 14:55] jphaugla commented on #1125
Additional Information on this limit.  I turned on monitor and determined this is the command being executed but the lettuceRediSearchClient.findAll.
"FT.AGGREGATE" "product" "*" "LOAD" "1" "@sdoc" "LIMIT" "0" "1000001" "WITHCURSOR" "COUNT" "1000"
I also ran this test against multiple versions of redisearch.  Running this with a value of 1000001 works in versions:  10410, 10417, 10419, and 10420.

[2020-03-19 14:57] jphaugla commented on #1125
I accidentally closed this-sorry for the hassle...  Additional comment from customer:
I'm working on my spring boot starter. A complaint from my developers has been that client-side paging hits the hard 1M limit. But server-side paging has no option to pull only keys. So any (client) operation that wants to operate off keys alone (and still be certain we're working outside the 1M limit) pays the c

[2020-03-19 21:35] MeirShpilraien commented on #1091
You can have a tag fields with the docid, why it need to be force or allow it as a specific option?

[2020-03-19 21:36] mnunberg commented on #1091
That would be a terrible abuse of the tag field, not intuitive, and a memory hog. You're creating a new inverted index for each id.

[2020-03-19 21:39] MeirShpilraien commented on #1091
You are right, we should have another field type which is a single value tag. I can see how it useful not only to index docid but to index ids in general...

[2020-03-19 21:46] mnunberg commented on #1091
The problem is that we are an inverted index; value-based indexing would totally mess with how we do things. I suppose people could use numeric indexes (which already have the same issue

In any event, I think we can allow to *filter* (but not *index*) by docid, using the following proposed syntax

[code]

It's trivial to add `FILTER` (or really any "aggregation-only" keyword) into FT.SEARCH

[2020-03-20 13:03] lumina7 opened #1133 "Support for bitvector?"
Hello,
Thank you for RediSearch, absolutely great :)

I am curious why there is no bitvector field support for RediSearch?
First space wise, and would it not be faster/ use less cpu cycle than TAG?

I can see it very usefull in some cases.

[2020-03-20 13:06] lumina7 commented on #1130
Should work if you add "exact match"

f1="\"aa\"" in your case

[2020-03-20 13:08] mnunberg commented on #1133
We use inverted indexes, and because of this, there is minimal overhead when actually performing searches for tag fields

[2020-03-20 13:09] lumina7 commented on #1133
ok, so I can just stuff my tags fields.

Does using multiple tag fields creates multiple keys or is it better to stuff one tag field with many many items?

[2020-03-20 13:12] mnunberg commented on #1133
It depends on how many dimensions you'd like to match. I'd say that it would be better if you keep your tags in a single field unless you have some kind of application logic that dictates otherwise.

In any event, a search for multiple tag terms always results in a union search, regardless of whether they exist in a single field or multiple fields.

[2020-03-20 13:15] lumina7 commented on #1133
`An entire tag field index resides in a single Redis key and doesn't have a key per term as the full-text one.`

Let's say I have 1 million items in my index.
If I use one tag field, then thats a 1 million key overhead. 2 tags field 2 millions keys? and so on?

[2020-03-20 13:21] mnunberg commented on #1133
In inverted indexes, the number of index keys which exist in the database are dependent on the *cardinality* of terms (basically, how many unique terms exist in the database) rather than the number of documents containing that term. RediSearch is designed for low-moderate cardinality and high document count.

In normal full text fields, we create a new key (i.e. an internal redis key) for every un

[2020-03-20 13:21] lumina7 commented on #1133
Ok, much clearer. Excellent 👍
Thank you.

[2020-03-20 13:22] #1133 closed

[2020-03-20 14:06] jphaugla commented on #1091
This is from a customer of mine.

I'm working on my spring boot starter. A complaint from my developers has been that client-side paging hits the hard 1M limit. But server-side paging has no option to pull only keys. So any (client) operation that wants to operate off keys alone (and still be certain we're working outside the 1M limit) pays the cost of pulling the gzip-compressed serialized docume

[2020-03-20 14:53] mnunberg commented on #1091
Is it possible for them to use FT.SEARCH? are they doing aggregation solely for the cursor feature? 1.6 allows cursors to be used with search as well.

[2020-03-20 16:18] rnbWarden commented on #1091
Yes, @mnunberg we're using aggregation solely for the cursor feature. We're still on 1.4 at the present time. If 1.6 provides cursors for FT.SEARCH then this should sufficiently handle our issue.

[2020-03-22 07:38] ashtul commented on #1058
This behavior is the default behavior.
It changes is module is loaded with `CONCURRENT_WRITE_MODE` flag.

[2020-03-22 07:38] #1058 closed

[2020-03-22 07:57] ashtul commented on #546
Similar to #1058
This behavior is the default behavior.
It changes is module is loaded with CONCURRENT_WRITE_MODE flag.

GC threads are mentioned in other issues as well

[2020-03-22 07:57] #546 closed

[2020-03-25 07:40] gkorland commented on #1119
ref #665

[2020-03-26 10:33] #1124 closed

[2020-03-26 16:45] yurymann opened #1148 "Text search does not work on some GUID values"
I have a text field which contains GUID values. Roughly 10% of them are searchable, the rest are not. May it be that there is an escaping issue here? Or do I misunderstand the semantics of the search?

Example which consistently reproduces on my setup:

[code]

**This search returns nothing (_why?_):**
[code]

This correctly returns the documents:
[code]

This correctly returns all documents.
[cod

[2020-03-26 16:51] mnunberg commented on #1148
I would think you need to escape the `-`

[2020-03-26 18:09] yurymann commented on #1148
@mnunberg escaping the document or the search value?
Even if this was true, it does not explain why it works for doc2 in my example, but not doc1.

I tried this with my example (document not escaped, search escaped):
[code]
Also this (both document and search escaped):
[code]
None of these work.

According to the documentation (https://oss.redislabs.com/redisearch/Escaping.html), both the document

[2020-03-26 18:23] yurymann commented on #1148
Update: escaping of both the document and the search works when using double-back-slash in bash. I now need to figure out how to fit it into my neat data model where escaping of the contents of every field does not make sense.
[code]
Why does the search work though for the second GUID in my original example: `616d6b88-afce-4221-a336-4cc573966568`?

[2020-03-28 09:12] dandago opened #1150 "Question: Applicability and Motivation"
Hi,

I am reading up on RediSearch for the first time so I don't have much background about it. I don't really know about its history and the motivation behind it.

Having read the [multi-threading](https://oss.redislabs.com/redisearch/Threading.html) documentation page, it somewhat feels like a hammer is being used on a screw. I don't understand why something single-threaded in nature would be us

[2020-03-28 14:38] gkorland commented on #1150
@dandago regarding the threading model you're right, in RediSearch 1.6 we disabled this complex model by default.

RediSearch shines mostly in one of the following scenarios:
1. Low latency/real-time updates are needed.
2. Many small indexes are used and perhaps created and deleted on high frequency.
3. You already decided Redis is the right DB for for you, but you need secondary indexes to query

[2020-03-28 14:47] mnunberg commented on #1150
Initially redisearch was designed to be a swiss army knife of search and indexing. Because of it residing within Redis and being written in C, it is lightweight enough and simple enough to set up, in comparison to ElasticSearch. The threading documentation itself is rather outdated, and thank you for bringing this to our attention.

Regarding threading, we are currently working on ways to utilize

[2020-03-28 17:23] dandago commented on #1150
Thanks for clarifying. It's not the first time that outdated documentation has given me the wrong impression.

So in brief, how does it currently work? Is RediSearch currently single-threaded pending the development of new mechanisms, or are these already in place?

[2020-03-28 19:31] mnunberg commented on #1150
@dandago RediSearch is currently single threaded. In the https://github.com/RediSearch/RediSearch/tree/2.0-unstable branch, we are re-introducing threads alongside features such as async indexing, in which some tasks can be performed in the background without locking Redis. This feature existed to some degree in previous versions, however because of certain semantics that we were bound to, it was

[2020-03-29 07:28] MeirShpilraien opened #1151 "FT.AGGREGATE allow with score and return always 0"
[code]
maybe when using WITHSCORE with ft.aggregate it should add the scorer as the first step and add it as a field to the result?

[2020-03-29 12:07] mnunberg commented on #1151
We don't calculate the score on FT.AGGREGATE because there is no default sorting order. That is probably the main functional difference between FT.SEARCH and FT.AGGREGATE. I suppose it's possible to add scores if `WITHSCORES` is requested, _and_ no groupby is applied.

[2020-03-29 12:09] mnunberg commented on #1151
I think the real issue is what kind of query would someone run with FT.AGGREGATE that would still have the scores; and why such a query could not be run on FT.SEARCH. The only thing that comes to mind is `APPLY` and `FILTER` operations, both of which can be used on `FT.SEARCH` (it's more a matter of documentation); and maybe disable `WITHSCORES` on aggregate.

[2020-03-29 12:11] MeirShpilraien commented on #1151
Someone might want to average score on some groupby reducer .. adding the score as another field seems like the correct way. It will allow to continue using ft.aggregate as search and also as aggregate

[2020-03-29 12:13] mnunberg commented on #1151
The syntax extensions to 2.0 (which can be ported to 1.6) will have support for `$doc_score` and `$result_score` attributes. In this case, the user can simply do `APPLY $doc_score AS doc_score`

[2020-03-29 12:18] MeirShpilraien commented on #1151
Yes but you might do not want to calculate it and when you reached the apply it might be too late to calculate it (you might already did a groupby operation) so WITHSCORES can tell you whether or not to calculate the score before start executing the aggregation chain.

[2020-03-29 12:25] mnunberg commented on #1151
If you did a GROUPBY operation before APPLY $score, then that's a logic error. You can have multiple `APPLY` statements.

For example:

[code]

[2020-03-29 12:35] MeirShpilraien commented on #1151
@mnunberg if you spot this logic error and return error message then this api is fine.

[2020-03-29 15:15] yurymann commented on #1150
In fact, I was finally convinced to use RediSearch after reading the [doc on multithreading](https://oss.redislabs.com/redisearch/Threading.html) which appeared to address exactly one of my main concerns: avoiding blocking of the single thread loop by long searches at the expense of some search latency. We use search for monitoring of a custom task queue implementation using Redis as the message b

[2020-03-29 15:22] yurymann commented on #1130
@lumina7, does it work for you with my example? Which version of redis and RediSearch?
I've just tried (again) and it returns all 3 documents.

I use Redis 5.0.7 and RediSearch 1.6.10.

[2020-03-30 19:37] gkorland commented on #1150
@yurymann are you running very long queries or index very big documents?
Our benchmarks showed that for every practical use case we met the multi-threaded solution only added more latency than advantages.
Saying that, we plan to allow parallel queries not running on the main thread.

[2020-03-30 20:17] yurymann commented on #1150
@gkorland I search by several fields in an index which can potentially contain a few million entries. This is the backend for a GUI screen, so the idea is not to restrict the user to searching by specific fields in a specific order. The number of searchable fields is not that big - currently around 5.

Plain search of this kind works surprisingly efficiently - a few milliseconds per query. However

[2020-03-30 23:11] sheinbergon opened #1152 "Forking performance overhead introduced in 1.6.x version (?)"
Hello

Ever since we upgraded to 1.6.10, we're seeing periodic forking (every few seconds).  even when no data is being written/accessed and no external connections are enabled (binding redis to 127.0.0.1, MONITOR command shows no activity)

I can confirm this behavior exists in 1.6.7 GA, but not in 1.4.24 or in 1.4.14

Spotted on both Redis 5.0.3 and 5.0.8 version

This behavior seriously degrade

[2020-03-30 23:22] MeirShpilraien commented on #1152
On 1.6 we switch to use FORK_GC by default. You can tune FORK_GC to be silence as long as the amount of garbage does not  exceeded a given threshold, for backward compatability this threshold is set to zero by default (look at the configuration section for more info https://oss.redislabs.com/redisearch/Configuring.html)
If you really want you can switch back to legacy GC by specifying GC_POLICY LE

[2020-03-30 23:28] sheinbergon commented on #1152
@MeirShpilraien thank you. I'd just found out about that documentation myself and noticed those settings.

A few more questions:

1. Given that the threshold is set to 0, it'd just GC every given internval seconds?
2. Isn't the default interval supposed to be 30 seconds? we are seeing forking running every 5 seconds are so, implying a failure retry, yet no failure is indicated in the logs
3. Also,

[2020-03-30 23:41] MeirShpilraien commented on #1152
How much indexes do you have? Its forking for each index because each index has its own GC (we are currently working on having one thread that will run all the GC's). Regarding your questions
1. Yes the GC will fire every interval (for each index)
2. If you have only one index then 5 seconds is strange so I guess you have more, let me know if I am correct in my assumption or I need to check it fur

[2020-03-30 23:49] sheinbergon commented on #1152
1. OK
2. We have 4 indices. I guess that explains that behavior
3. I understand that code wise it make sense, but the actual real behavior of forking GC on a 3 GB RSS process (wih 3 very small indices and 1 containg say, 250K documents), all are not being updated at the moment (past activity hours, but throughout the day they are only appended, never updated/deleted) puts a hugh CPU overhead on th

[2020-03-31 00:03] MeirShpilraien commented on #1152
If they are not updated and only appended during the day then increasing the gc threshold from zero to even one will be enough to stop the GC from running (it will not start any forks) until there will be a single deleted document, which from what I understand from you, happened very rarely. This way the forkgc will be much better the legacy gc which scans anyway but less intensive then the forkgc

[2020-03-31 07:14] sheinbergon commented on #1152
Thank you for your tips and guidance

1. Maybe you should consider changing the default FORK_GC_CLEAN_THRESHOLD value for this branch. with the default one set for backwards compatibility, people will get degraded performance OTB, which might give them the wrong impressions about your powerful module.

2. While I get your insight about our specific scenario, given that:
* Notable CPU/Memory overhe

[2020-03-31 07:39] MeirShpilraien commented on #1152
@sheinbergon if you can share with us an rdb (do not have sensitive information) then I can try check why GC cause the redis to be such none responsive, when there is no garbage the GC really need to work in the background and just consume cpu but not causing any latency (unless the machine is weak and does not have enough cpu to run all in parallel or memory to handle the copy on write)
Let me kn

[2020-03-31 07:44] sheinbergon opened #1153 "Cursor API not documented for FT.SEARCH"
Hi.

While WITHCURSOR statements seem to work for FT.SEARCH, they're only documented as part of the aggregations functionality. It's a powerful feature, and IMO you should update the documentation to reflect on it.

[2020-03-31 12:12] sheinbergon commented on #1152
@MeirShpilraien how you like to receive the RDB? It's quite a hefty one (1.3 GB)

[2020-03-31 12:35] K-Jo commented on #1153
@sheinbergon Currently, this feature is not supported (as it's not documented).  I have written down an explanation here: https://groups.google.com/forum/#!msg/redisearch/W_V-8IqMfPk/ID9WANoPAgAJ
This is related to #689 and will be tackled in 3.0 since it's a breaking change/

[2020-03-31 12:39] sheinbergon commented on #1153
@K-Jo well, it's working for me with 1.6.10. What do you mean by 'not supported'?

[2020-03-31 12:41] mnunberg commented on #1153
It means we haven't integrated it into our tests, so it doesn't have our formal Stamp Of Approval (TM). Off the record, it should work just fine in this particular scenario.

If you want to get into the nitty gritty, WITHCURSOR on FT.SEARCH does not work on our enterprise offering currently.

[2020-03-31 12:43] sheinbergon commented on #1153
@mnunberg OK got it. though it brings major performance boosts ( 50x faster on 1M items index) for pagination queries. Thanks anyway, closing this.

[2020-03-31 12:43] #1153 closed

[2020-03-31 12:44] mnunberg commented on #1150
@yurymann https://github.com/RediSearch/RediSearch/issues/1153 is tangentially related to your concerns. tldr cursors (though not "officially supported" yet for FT.SEARCH) should more than sufficiently reduce the latency of any search request

[2020-03-31 12:49] #1125 closed

[2020-03-31 12:51] MeirShpilraien commented on #1152
Google Drive?

[2020-04-01 18:37] MeirShpilraien opened #1158 "expression evaluation evaluate both sides of OR/AND statement even if there is no need to"
This is not possible: `!@n || to_number(@n)<11`
Because the to_number will raise an error if @n does not exists.

[2020-04-01 22:38] danialfarid opened #1159 "Redis crashes under load IndexCriteriaTester segmentation error"
We have redisearch module running on single redis instance and the app uses mix of redis and rediseach commands, once a while when the load is high redis crashes. It seems to crashes quiet randomly and it works fine if the load is low only when there are multiple users are using the app this happens. Any idea what this could be related too?

This is the output from the `gdb` redis debugger:
[code]

[2020-04-02 06:17] MeirShpilraien commented on #1159
Can you specify RediSearch version?

[2020-04-02 16:56] danialfarid commented on #1159
[code]

Looks like running this query: `FT.SEARCH rli "(-@exs:{CA})|(@au:{cflqa1})"` will make redis crash all the time. I have an index rli with a bunch of fields about 50 of them and mostly tags and the `exc` and `au` are 2 of the tags. If I create a another test index and run the same query it works so it has to do with the data that is in redisearch right now which is 20 documents and one of t

[2020-04-02 17:12] MeirShpilraien commented on #1159
Can you share an rdb so we can reproduce locally?

[2020-04-02 17:28] danialfarid commented on #1159
We have sensitive data for other redis keys. Is there a way to get a dump of only redisearch data?

[2020-04-03 14:58] lumina7 opened #1161 "MAXDOCTABLESIZE not registered into redis-server log"
`redis-server --loadmodule ./redisearch.so MAXDOCTABLESIZE 2000000`

And when the server start...
[code]
Is MAXDOCTABLESIZE properly registered?

[2020-04-03 15:01] mnunberg commented on #1161
what version of search are you using?

[2020-04-03 15:02] lumina7 commented on #1161
RediSearch version 99.99.99 (Git=v1.6.6-45-gc13f342f)

[2020-04-03 15:08] mnunberg commented on #1161
You're right, it's not actually setting it.

[2020-04-03 15:16] sheinbergon commented on #1153
@mnunberg seeing your edits on your recent comment, FWIW, are there any plans to remove that feature from FT.SEARCH until it's officially supported? we are relying on the performance boost it gives for pagination queries, so please don't make it eat my data :-(

[2020-04-03 15:31] lumina7 commented on #1130
You are right does not work either for me. You still can use tag field for exact match.
But having this feature would be a no-brainer on others fields...

[2020-04-03 15:55] mnunberg commented on #1161
@ashtul It's simply not setting it in the function, though it's validating them. I'm wondering if there aren't other options that we're missing

[2020-04-04 16:50] FredericSavard opened #1162 "Diacritics (accents)"
I need help with research involving data with diacritics (accents).

1. create index:
"FT.CREATE" "geoaddressindex" "SCHEMA" "id" "TAG" "streetName"

2. index "**ALFRED-LÉGER**"
"FT.ADD" "geoaddressindex" "460876056" "1.0" "FIELDS" "streetName" "ALFRED-L\xc3\x89GER"

3. "**alfred lÉger**" is found (OK):
"FT.SEARCH" "geoaddressindex" "(@streetName:{alfred\\-l\xc3\x89ger}) "

4. "**ALFRED-LEGER**" n

[2020-04-04 17:49] mnunberg commented on #1162
You’d need to use a TEXT field and not a TAG field. TAG assumes a byte-for-byte match, while TEXT fields make use of stemming and normalization

[2020-04-04 18:10] yurymann commented on #1150
@mnunberg #1153 is interesting, thanks. And apparently already works in aggregation.
I doubt though that it will solve my problem. My typical slow-search use case is: aggregate by a text field, calculate some aggregated values and return a limited number of records (e.g. the first page for GUI).

I'm not that much worried about the latency of the search itself, more so about it blocking Redis even

[2020-04-04 18:14] yurymann commented on #1148
@mnunberg did you have a chance to check why search works for some GUIDs in my example, but fails for others? The example is very short and straightforward.

I may need to use escaping as a workaround anyway, but am now worried about reliability of the main use case without escaping, as I still use it for some fields.

Thanks

[2020-04-04 18:16] FredericSavard commented on #1162
Thank you so much. This is probably the way to go, but I get other problems (encoding?).

1. create index:
"FT.CREATE" "geoaddressindex" "SCHEMA" "id" "TEXT" "WEIGHT" "5.0" "streetName" "TEXT"

2. index "ALFRED-LÉGER":
"FT.ADD" "geoaddressindex" "608055384" "1.0" "FIELDS" "streetName" "ALFRED-L\xc3\x89GER"

3. "ALFRED-LÉGER" not found anymore (new problem):
"FT.SEARCH" "geoaddressindex" "(@streetN

[2020-04-04 18:17] mnunberg commented on #1148
For GUIDs I'd use TAG fields anyway. Maybe you also need to add some parens and quotes; I don't remember the exact incantation off-hand.

If you want to see what your query is parsed as (to help you escape), you can run `FT.EXPLAIN` (or `FT.EXPLAINCLI` from redis-cli) to get a textual description of your query. This will help you understand what search is *really* looking for.

[2020-04-04 18:18] mnunberg commented on #1162
Can you run `FT.EXPLAIN` on the query? should give you an idea of what it's searching for (or `FT.EXPLAINCLI` if running in redis-cli for nicer output)

[2020-04-04 18:20] yurymann commented on #1130
I'm not convinced that tag fields are what  need. My plan so far (if I don't move to a different technology by that time): create proxy fields alongside the functional fields specifically for exact search, with all tokeniser separators escaped. E.g. in the example above I'll also have field i_f1 with "." in values replaced by "\.".

[2020-04-04 18:24] mnunberg commented on #1162
hrm, it seems that it's not stemming 'LéGER' to 'leger', which I would expect it to..

[2020-04-04 18:50] FredericSavard commented on #1162
Looks like we found a bug!

BTW I changed from FIELDS to TAGS because I was not able to make FIELDS work properly with hyphens. With TAGS it's ok.  Do you know how to make dashes work with FIELDS?

[2020-04-04 18:52] mnunberg commented on #1162
You need to add an escape to the field when adding e.g. ft.add .... exact\-phrase\-with\-hyphen; ditto for search. you might need to escape twice depending on your client (to make that the escape gets read by search)

[2020-04-04 18:54] mnunberg commented on #1162
regarding diacritics and accent folding, i'm unsure how to handle it; maybe an API option at the search level (as well as the indexing level); in many languages the accented and unaccented versions are substantially different

[2020-04-04 19:32] FredericSavard commented on #1162
FYI with FIELDS, double-escaping must be done for both FT.ADD and FT.SEARCH.  I think I should go back using TAGS instead.  I won't index diacritics, as a workaound I'll transform them into their regular letters equivalent.  It's a temporary workaround.

[2020-04-05 07:52] ashtul opened #1163 "!@field filter fails when field does not exist"

[2020-04-05 18:48] ashtul commented on #984
in lexer.c line 609: `RSQuery_Parse(pParser, STOPWORD, tok, q);` is reached.

[2020-04-05 21:13] #1161 closed

[2020-04-06 07:21] kkmuffme commented on #576
Could this perhaps get fixed, as it's super annoying that synonyms aren't case insensitive.

[2020-04-06 15:32] danialfarid commented on #1159
Any updates on this?

[2020-04-07 04:38] MeirShpilraien commented on #1159
@danialfarid sorry I missed your message.
Do you think it is possible to get an rdb with all the data so it will be possible to reproduce, another option is if you can give us a reproduction step, just by creating the same index and populate with some data is not enough to reproduce.

[2020-04-07 04:45] MeirShpilraien commented on #1085
@timmixell Can we close this issue? it's been fixed on 1.6.10.

[2020-04-07 04:49] MeirShpilraien commented on #1150
@yurymann how much data do you have?

[2020-04-07 04:53] MeirShpilraien commented on #1081
@mnunberg did you solve this crash eventually?

[2020-04-07 09:22] mnunberg commented on #1081
no, let's keep this open for another few months, as I was not able to reproduce.

[2020-04-07 12:57] Nomafin opened #1169 "RediSearch crashes on certain query"
RediSearch (official Docker image with tag 1.6.8) crashes with following output:

[code]

When running this query:
[code]

I haven't found any other query in our app that would cause the crash, but this does every time it's run.

[2020-04-08 06:18] MeirShpilraien commented on #1169
@Nomafin can you send us an rdb that reproduces the issue?

[2020-04-08 06:20] MeirShpilraien commented on #1169
Also notice that INFIELDS is FT.SEACH syntax and not FT.AGGREGATE, with FT.AGGREGATE you should add all those fields to LOAD.

[2020-04-08 06:56] Nomafin commented on #1169
I wouldn't want to upload the rdb here in public but can send it to you privately. Any preferred way to do so?

One reason we've been using 1.6 instead of 1.4 is that the infields syntax was introduced to ft.aggregate as well.

[2020-04-08 11:50] MeirShpilraien commented on #1169
@Nomafin any way you like is fine by me

[2020-04-08 18:04] danialfarid commented on #1159
@MeirShpilraien  Here is the rdb file that makes redis crash on this query `FT.SEARCH rli "(-@exs:{CA})|(@au:{cflqa1})"`. https://drive.google.com/open?id=1a0cQdDHKzKE5F-akn4n3LbrDjn24ITXN
(remove .txt)

[2020-04-08 18:06] MeirShpilraien commented on #1159
Thanks, will check it out.

[2020-04-10 21:04] xvester commented on #1169
Hi! I've with another query that causes a Redis crash when executing a FT.SEARCH (no Docker but local compile & install):

These queries run fine but the last generates the crash (fulll results ommited for clarity, only number number of results shown):

[code]

("trudt" is a forced spelling error for "trust")

### Bug report

[code]

[2020-04-11 05:40] tgrall opened #1173 "DOC: Small issue in FT.SUGLEN command example"
DOC: Small issue in FT.SUGLEN command example

The example does not show SUGLEN but SUGDEL

[2020-04-11 07:21] x2bool opened #1175 "Error [INDEX_NAME]: no such index"
Index mysteriously disappears after some time.

[code]

I'm running RediSearch in Docker (https://hub.docker.com/r/redislabs/redisearch/) for experimental project where we have indexed ~10k documents: https://telegram-jobs.github.io . After some time (usually 2-4 hours) FT.SEARCH queries are starting to fail with `Error [INDEX_NAME]: no such index`. Redis itself is running normally, and `keys *` c

[2020-04-11 07:49] MeirShpilraien commented on #1175
Can you share the redis log file?

[2020-04-11 09:58] x2bool commented on #1175
[code]

Happens after this. Hmm...

[2020-04-12 07:50] MeirShpilraien commented on #1169
@Nomafin I could reproduce the issue using the RDB you sent, this should fix it https://github.com/RediSearch/RediSearch/pull/1176

I hope to release a new version with couple of fixes (including this one) in a few days.

Thanks for reporting

[2020-04-12 07:51] MeirShpilraien commented on #1169
@xvester its looks like another issue, please open another issue for that.

[2020-04-12 08:47] MeirShpilraien commented on #1159
I could reproduce it using the RDB you gave us, this PR should fix it: https://github.com/RediSearch/RediSearch/pull/1177

Thanks for reporting.

[2020-04-12 08:48] #1169 closed

[2020-04-12 09:15] ashtul commented on #1163
!@field should not be used. Instead use function exists() added in #1171

[2020-04-12 09:15] #1163 closed

[2020-04-12 09:32] #1159 closed

[2020-04-12 09:42] ashtul commented on #1152
@sheinbergon
We have changed ForkGC to use a single thread for all indices.
It is only on the master branch at the moment.

[2020-04-12 09:51] ashtul opened #1179 "`RSFunctionRegistry_Get` should return `RSFunctionInfo` not `RSFunction`"

[2020-04-12 11:48] ashtul opened #1184 "ft.info returns incorrect `inverted_sz_mb`"
[code]

[2020-04-12 12:25] ashtul commented on #1184
returned size is very large and cannot be valid.

[2020-04-12 12:26] ashtul commented on #1184
Return size seems invalid.

[2020-04-12 12:29] ashtul commented on #1184
`Numeric` and `Geo` fields do not update `spec->stats.invertedSize` when documents are added.
GC reduce the number of all bytes cleared including the above.
`invertedSize` is of `size_t` type and therefore it overflows to a huge value.

[2020-04-12 12:32] ashtul commented on #1179
Global `RSFunctionRegistry` contains `RSFunctionInfo` where additional parameters are stored.
`RSFunctionRegistry_Get` returns only `RSFunction` and therefore other parameters cannot be reached. `RSFunctionInfo` will allow using other params.

[2020-04-12 23:25] #1158 closed

[2020-04-13 03:09] bailiyang commented on #1081
@mnunberg sorry, I haven't developed rediSearch for a while, this coredump is happend when i try to make rediSearch running in codis (with my own redis 5.0.5),
and i'm not sure this coredump is running my redis or the redis from github
i try to reproduce this error  NOW

[2020-04-13 04:27] bailiyang commented on #1081
i try:
rediSearch v1.6.8 (checkout from github)
with redis 5.0.5
--- no core at all
with redis 5.0.8
--- no core at all
with redis 5.0.5 (with my change)
--- no core at all

just got "(error) Syntax error at offset 9 near rsna025"

so, seem like this error not happen

by the way, rediSearch v1.4.24 is now running in my codis, beacause v1.6.8 may use more memory than v1.4.24, so we choice v1.4.24

[2020-04-13 04:29] #1081 closed

[2020-04-13 10:52] ashtul commented on #1175
@x2bool

Can you please include some more information? Possibly record commands on `monitor`?

[2020-04-13 10:58] x2bool commented on #1175
I'll try.

What is interesting is as soon as I moved RediSearch out of a docker container to the host machine, this never happened again.

[2020-04-13 11:14] ashtul commented on #1175
@x2bool can you also check what happens if you give `save` command earlier?

[2020-04-13 13:02] gkorland commented on #1175
@x2bool how are you indexing the docs? are you using FT.ADD or FT.ADDHASH?

[2020-04-14 09:01] #1184 closed

[2020-04-15 20:48] timmixell commented on #1085
👍 sorry for delay!

[2020-04-15 20:48] #1085 closed

[2020-04-15 21:24] kkmuffme opened #1189 "Redisearch breaks certain debug flags"
when doing `redis-cli --bigkeys` with redisearch enabled & indexes created, I get an error:

[2020-04-15 21:40] jkpr opened #1190 "Ambiguous AND / OR precedence"
This was curious from the Redis University class's `permits` full text search index.

[code]

I would have expected these to return the same result set. The FT.EXPLAINs are added here for reference. I can see that the operators of AND and OR are taking different precedences here. Usually AND has higher precedence than OR, but that is not the case in the first query.

[code]

The precedence of AND

[2020-04-16 06:11] #524 closed

[2020-04-16 06:12] ashtul commented on #1059
fixed by #1154

[2020-04-16 06:12] #1059 closed

[2020-04-16 06:14] ashtul commented on #1088
fixed by #1092

[2020-04-16 06:14] #1088 closed

[2020-04-16 06:16] ashtul commented on #978
fixed by #1154

[2020-04-16 06:16] #978 closed

[2020-04-16 08:26] ashtul commented on #1189
@kkmuffme
This is a Redis issue that was fixed in antirez/redis#5856

[2020-04-16 08:28] #1173 closed

[2020-04-16 08:35] #1189 closed

[2020-04-17 12:38] stockholmux opened #1193 "FT.ADD ... REPLACE without all fields leaves unindexed fields"
If you create a schema with multiple fields then later use `FT.ADD .. REPLACE` but do not specify all the indexed fields, the document will still contain the field yet it won't be present in the index. Tested with 1.4.x and 1.6.x. Note `age` below:

[code]

It's unusual behaviour but it seems like it's doing basically a `FT.DEL` without DD, then doing an `FT.ADD` with the specified fields only (wh

[2020-04-18 04:40] FredericSavard opened #1196 "Lowercase only?"
Do synonyms support only lowercase?

This is OK:
"FT.CREATE" "my_idx" "SCHEMA" "my_fld" "TEXT"
"FT.SYNADD" "my_idx" "hello" "hola" "hej" "bonjour"
"FT.ADD" "my_idx" "42" "1.0" "REPLACE" "FIELDS" "my_fld" "hello"
"FT.SEARCH" "my_idx" "hej"

This is NOT OK:
"FT.CREATE" "my_idx2" "SCHEMA" "my_fld2" "TEXT"
"FT.SYNADD" "my_idx2" "HELLO" "hola" "hej" "bonjour"
"FT.ADD" "my_idx2" "666" "1.0" "REPLACE" "F

[2020-04-19 05:35] ashtul commented on #1196
Duplicate of #576

[2020-04-19 14:35] MeirShpilraien commented on #1193
FT.ADD replace only update the index and the hash but not delete it (or delete already existing fields), it's the same as if you do hset doc1 ..some fields.. and then ft.add doc1 ..different fields.., would you expect redisearch to delete the extra fields added by the hset? Notice that if you do the ft.search again you will not find it in the results because redisearch did not index the age field.

[2020-04-20 07:35] ashtul commented on #1193
@stockholmux @gkorland @MeirShpilraien @mnunberg @K-Jo
Should we add a flag for `HARDREPLACE`?

[2020-04-20 13:07] stockholmux commented on #1193
@MeirShpilraien What you are saying is that is In effect this is `FT.DEL` (without `DD`) followed by `FT.ADD`.

This _looks_ like a bug as you have a document with indexed fields that are not indexed. At very least it should be completely documented. Better might be a true document replacement option (remove the underlying hash, like `FT.DEL`...`DD`).

[2020-04-20 14:08] sheinbergon commented on #1152
@ashtul Closing this, as moving to legacy GC solved our problems for now

[2020-04-20 14:08] #1152 closed

[2020-04-20 14:16] sheinbergon opened #1204 "Redis 6 support?"
More of an inquiry, but as Redis 6 is just around the corner, bringing major improvements in the form of I/O threads - is this module expected to be supported out of the box?

10x

[2020-04-20 14:18] gkorland commented on #1204
Yes, RediSearch is going to support Redis 6, we're already testing with Redis 6RC4

[2020-04-22 04:57] ashtul commented on #1190
@jkpr Thank you for the issue.
Parsing the query is done by using a `Lemon` parser.
Fixing the undesired behavior you describe may cause unforeseen changes that might break queries for current users.
We will implement a fix in a future major version.
Meanwhile, the issue can be overcome by using parenthesis in an explicit way: `FT.SEARCH permits "(window kiosk) | veranda" LIMIT 0 0`

[2020-04-23 04:45] lipoiq opened #1206 "Equal MySQL query"
How I can do query equal MySQL `WHERE column <> 3`

[2020-04-23 21:18] MeirShpilraien commented on #1206
https://oss.redislabs.com/redisearch/Query_Syntax.html#mapping_common_sql_predicates_to_redisearch
[code]

[2020-04-23 21:19] gkorland opened #1208 "Range doesn't handle doubles with exponents - "[(1.58705803E9 inf]""
Range doesn't handle doubles with exponents - "[(1.58705803E9 inf]"

`Syntax error at offset 20 near E9`

[2020-04-23 21:19] gkorland commented on #1208
ref https://github.com/RediSearch/JRediSearch/issues/93

[2020-04-24 08:09] lipoiq commented on #1206
thnx

[2020-04-24 19:00] sheinbergon commented on #1204
10x

[2020-04-24 19:00] #1204 closed

[2020-04-25 01:38] kivo360 opened #1210 "Is there a Central FAQ Issue for common newbie questions?"
I'm new to this. A lot of people are. While the docs explain a lot, finding everything inside of the docs isn't entirely easy.

I personally had a question about **_how to do an aggregate search query between two keys and schemas_**. I feel like this is a rather straightforward question; one that's been discussed out before. I can't help but notice many questions of this level of difficulty are be

[2020-04-29 06:18] ChristopherLenz commented on #1148
Hello,

I have the same issue.

**FT.INFO events**
[code]

**FT.SEARCH events @Id:12420c12\-9650\-4390\-b218\-ff4a4df537f4**
` 1)  "0"`

**FT.EXPLAIN events @Id:12420c12\-9650\-4390\-b218\-ff4a4df537f4**
[code]

**FT.SEARCH events @Id:12420c12***
[code]

[2020-04-30 19:42] MeirShpilraien commented on #1210
@kivo360 thank you very much, your feedback is important to us. I agree that a FAQ is a very good idea. Just FYI we also have a forum specifically for questions and discussion which are not bugs or issues (https://forum.redislabs.com/c/modules/64).
Regarding your question, so currently it is not directly supported by RediSearch. RediSearch allows to query and aggregate results from only one index.

[2020-05-01 05:34] kivo360 commented on #1210
@MeirShpilraien Thanks! I happened to see RedisGears just too days ago and I already gave it a try. The register function will be super useful for an internal tool for an internal tool.

I'm working to finish a feature for a project, and I'll likely use an inefficient method so it can be done for now.

I'm planning a refractor for the internal tool that'll likely solve the aggregate problem too. R

[2020-05-05 08:49] #1208 closed

[2020-05-05 11:35] ashtul opened #1226 "use RedisModule_Assert"
instead of RS_LOGASSERT

[2020-05-05 12:04] #1206 closed

[2020-05-05 14:50] ashtul commented on #587
@gkorland Is this still relevant to 2.0? We remove ft.add so this make little sense.

[2020-05-05 15:11] mnunberg commented on #587
This might still be useful for DEL as well

[2020-05-05 17:36] ashtul commented on #580
@MeirShpilraien
What is the exact usecase/API? `REDUCE 2 city state as loc`?

[2020-05-07 10:38] kkmuffme commented on #978
Is there any hope to get this in 1.6.x? since this makes redisearch unusable when using many indexes since it overloads any server all the time

[2020-05-07 11:55] gkorland commented on #978
@kkmuffme can you share more details on your use case? do you have many temporary indexes? are these indexes static or being update constantly?

[2020-05-07 19:57] kkmuffme commented on #978
I am not 100% sure I am suffering from this issue, but the description & symptoms match pretty good:

I have about 500 indices, most of which have very little data (if you're asking why: there are about 34 small(ish) blogs in ~15 languages each). In total the redis memory footprint of only the redisearch data is about 1.2 GB (via redis info) and of other keys it's 0.15 GB
(and there is more than e

[2020-05-07 20:14] MeirShpilraien commented on #978
@kkmuffme it does sound like the forkgc but to get to the right solution we need to understand the requirements a little more (maybe GC is not needed here at all).

For example:
1. You said that indexes are been updated all the time. Do you ever delete them? If you do you can run without GC (https://oss.redislabs.com/redisearch/Configuring.html, see NOGC section).
2. If they never delete them but

[2020-05-07 20:53] kkmuffme commented on #978
Thanks for the quick reply.

1) Yes, about 10-20% of indexes get deleted (& recreated) every day (sometimes even multiple times a day). Overall after about 2 weeks 80% of indexes are deleted (& recreated from scratch) 1 or multiple times within 14 days.
(some of the blogs are a test environment for users to play around/get trained and get familiar with the interface, which is why this is necessary

[2020-05-08 17:32] kkmuffme commented on #978
@MeirShpilraien confirmed now, adding NOGC decreased the loadavg from 100-400 to 1

[2020-05-10 12:49] MeirShpilraien commented on #978
@kkmuffme Yes as we suspected. Regarding the config params you sent, it really depends on your data. If those parameters give you good results and memory is not exploding then go with it. If you see memory increasing then try to tune them again and make the gc run more recently. Tune it until you reach the balanced that matches your needs.

[2020-05-10 14:27] kkmuffme commented on #978
Ok.

For redis slaves, I can technically set it to NOGC permanently to get better performance?
(since it just mirrors what the master does, so I don't need to run any GC on the slaves at all?)

[2020-05-10 15:26] MeirShpilraien commented on #978
@kkmuffme no, you have to run GC on the slave and on the master. When you delete or update a document, RediSearch only marks the document as deleted and the GC is the one that actually collects the memory. The master replicates the `ft.del/ft.update replace` commands to the slave which means that the slave will mark those documents as deleted but without GC the memory will never be collected.

[2020-05-11 20:02] timmixell commented on #1193
I'm encountering what I believe to be the same issue. In my case, I need to remove an indexed field because it is no longer relevant to the document. Confirming that in this case, the current expectation would be to `FT.DEL` and do a subsequent `FT.ADD`

[2020-05-12 20:13] MeirShpilraien commented on #1193
@timmixell so you are saying that you would expect the field in the hash to be deleted?

[2020-05-12 20:52] timmixell commented on #1193
That is correct. We have an indexed field that has been emptied out or set to null. What is the best way to update the index with this information?

[2020-05-15 17:10] simonprickett opened #1233 "Documentation has been rebuilt incorrectly and URLs have changed."
It appears that the documentation has been rebuilt and a lot of URLs no longer resolve, for example:

https://oss.redislabs.com/redisearch/Scoring/

https://oss.redislabs.com/redisearch/Commands/#ftsearch

https://oss.redislabs.com/redisearch/Commands/#ftexplain

Looks like .html has been introduced into the URLs with no 301 redirects for the old URLs.  I assume this is an error in building the si

[2020-05-17 10:06] gkorland commented on #1233
The documentation is now versioned,
https://oss.redislabs.com/redisearch/1.6/Scoring.html
https://oss.redislabs.com/redisearch/1.6/Commands.html

[2020-05-17 11:56] itamarhaber commented on #1233
This is another issue, unrelated to versioned docs.

This https://github.com/RediSearch/RediSearch/blob/master/mkdocs.yml#L16 should be set to `true` like all other modules' docs I believe

[2020-05-18 17:00] gyana12 opened #1236 "ERR unknown command `FT.CREATE`"
while creating an index getting error

`redis-cli --cluster call 127.0.0.1:30001 FT.CREATE myIdx SCHEMA title TEXT WEIGHT 5.0 body TEXT url TEXT value NUMERIC`

i tried to install the redis search module using below command, but no success.
`redis-cli --cluster call 127.0.0.1:30001 MODULE load redisearch.so OPT1 OPT2`

could someone guide me how to install these modules on redis cluster.

[2020-05-18 21:53] MeirShpilraien commented on #1236
Can you share the output of module list command on each shard? I suspect the module was not loaded on all the shards..

[2020-05-19 04:42] gyana12 commented on #1236
Yes you are correct module hasn't loaded.
`create-cluster znrind-a0053$ ~/Downloads/redis-5.0.5/src/redis-cli --cluster call 127.0.0.1:30001 MODULE LIST`

[code]

[2020-05-19 13:34] Jonarod opened #1237 "Won't filter the letter "a" ?"
When I create a simple schema like this:
[code]

Then add entries:
[code]

Search works for "b":
[code]

Search completely misses for "a":
[code]

I have made several tests changing fields names, etc... it always comes down to the letter "a" being ignored by search: is there something I missed ?

[2020-05-19 13:45] gkorland commented on #1237
"a" is considered a stop word for tokenization
See: https://oss.redislabs.com/redisearch/Stopwords.html

[2020-05-19 13:56] #1233 closed

[2020-05-19 13:56] Jonarod commented on #1237
Thanks for your lightening fast reply.

My bad... I thought stop words would have been considered only on fields labeled as `PHONETIC` :sweat:

I tried to use `NOSTOPWORDS` in my search, it throws the same result ignoring the letter "a"...

Is there a way to avoid re-indexing all my data set now?

[2020-05-19 16:14] simonprickett commented on #1233
@itamarhaber the URLs are still different than before, breaking things that link to the docs. e.g. https://oss.redislabs.com/redisearch/Commands.html#ftadd used to be https://oss.redislabs.com/redisearch/Commands/#ftsearch

If this is intentional (extra .html) I'll update the Redis University course that has many links to this documentation.  I assume this is still a mistake though?

[2020-05-20 13:22] Jonarod commented on #1237
I used `STOPWORDS 0` at schema creation.

[2020-05-20 13:22] #1237 closed

[2020-05-23 00:52] humblewolf opened #1240 "No command to list all indexes"
Please add a command to list all indexes in redisearch currently. I guess there is none at present, or is there any ?

Thanks

[2020-05-24 08:17] gkorland commented on #1240
@humblewolf there is no such command, but we plan to add in RediSearch 2.0

[2020-05-24 13:31] humblewolf commented on #1240
Thank you.

[2020-05-26 05:51] #995 closed

[2020-05-26 20:59] simonprickett commented on #1233
This is working well now, thanks.

[2020-05-26 21:04] itamarhaber commented on #1233
Woot!!!

[2020-05-27 07:14] gkorland commented on #1080
ref #557

[2020-05-27 07:16] #727 closed

[2020-05-27 07:31] gkorland commented on #633
Duplicate #764

[2020-05-27 07:31] #633 closed

[2020-05-27 08:29] ksvnix opened #1244 "Error while cloning the git repo"
git clone --recursive https://github.com/RediSearch/RediSearch.git
Cloning into 'RediSearch'...
remote: Enumerating objects: 45, done.
remote: Counting objects: 100% (45/45), done.
remote: Compressing objects: 100% (34/34), done.
fatal: pack has bad object at offset 1471143: inflate returned -5
fatal: index-pack failed

[2020-05-27 09:52] gkorland commented on #1244
@ksvnix on which OS are you running? it seems like a git issue and not RediSearch issue.

[2020-05-27 13:21] ksvnix commented on #1244
CentOS Linux release 8.1.1911 / 4.18.0-147.8.1.el8_1.x86_64
git-2.18.2-2.el8_1.x86_64

Used this doc: https://oss.redislabs.com/redisearch/Quick_Start.html

Also manually dowloaded latest release - https://github.com/RediSearch/RediSearch/archive/v1.6.13.zip - can't be installed:

[root@centos8 RediSearch-1.6.13]# make build
fatal: not a git repository (or any of the parent directories): .git
Make

[2020-05-27 15:07] ashtul commented on #1244
@rafie
This seems to be related to `readies`

[2020-05-28 10:25] rafie commented on #1244
@ksvnix RediSearch repo has submodules. Thus your best chance of building it is by cloning from github, as you did in the first place (note the `--recursive` switch - this is virtually the same as going `git  submodule update --init --recirsive`), except that the git operation failed, probably due to a network condition.
When downloading the archive (rather than cloning), one doesn't actually get